<% if (binary) { %>
  <div class='listing-icon icon round <%= extension %> <% if (media) { %>media<% } %>'></div>
<% } else { %>
  <a href='#<%= repo.owner.login %>/<%= repo.name %>/edit/<%= branch %>/<%= path %>' class='listing-icon'>
    <span class='icon round <%= extension %> <% if (media) { %>media<% } %>'></span>
  </a>
<% } %>

<div class='details'>
  <div class='actions fr clearfix'>
    <% if (!binary) { %>
      <a class='clearfix'
        title='Edit this File'
        href='#<%= repo.owner.login %>/<%= repo.name %>/edit/<%= branch %>/<%= path %>'>
        Edit
      </a>
    <% } %>
    <% if (writable) { %>
      <a
        class='delete'
        title='Delete this File'
        data-user='<%= repo.owner.login %>'
        data-repo='<%= repo.name %>'
        data-branch='<%= branch %>'
        data-file='<%= name %>'
        href='#'>
        <span class='ico rubbish small'></span>
      </a>
    <% } %>
  </div>
  <% if (binary) { %>
    <h3 class='title' title='<%= name %>'><%= name %></h3>
  <% } else { %>
      <% if (extension === 'md') { %>
        <a class='clearfix' href='#<%= repo.owner.login %>/<%= repo.name %>/edit/<%= branch %>/<%= path %>'>
          <h3><%= name %></h3>
          <span class='deemphasize'><%= name %></span>
        </a>
      <% } else { %>
        <h3 class='title' title='<%= name %>'><a class='clearfix'href='#<%= repo.owner.login %>/<%= repo.name %>/edit/<%= branch %>/<%= path %>'><%= name %></a></h3>
      <% } %>
    </a>
  <% } %>
</div>
