<% if (file.binary) { %>
  <div class='listing-icon icon round <%= file.extension %> <% if (file.media) { %>media<% } %>'></div>
<% } else { %>
  <a href='#<%= file.repo.owner.login %>/<%= file.repo.name %>/edit/<%= file.branch %>/<%= file.path %>' class='listing-icon'>
    <span class='icon round <%= file.extension %> <% if (file.media) { %>media<% } %>'></span>
  </a>
<% } %>

<div class='details'>
  <div class='actions fr clearfix'>
    <% if (!file.binary) { %>
      <a class='clearfix'
        title='Edit this File'
        href='#<%= file.repo.owner.login %>/<%= file.repo.name %>/edit/<%= file.branch %>/<%= file.path %>'>
        Edit
      </a>
    <% } %>
    <% if (file.writable) { %>
      <a
        class='delete'
        title='Delete this File'
        data-user='<%= file.repo.owner.login %>'
        data-repo='<%= file.repo.name %>'
        data-branch='<%= file.branch %>'
        data-file='<%= file.name %>'
        href='#'>
        <span class='ico rubbish small'></span>
      </a>
    <% } %>
  </div>
  <% if (file.binary) { %>
    <h3 class='title' title='<%= file.name %>'><%= file.name %></h3>
  <% } else { %>
      <% if (file.extension === 'md') { %>
        <a class='clearfix' href='#<%= file.repo.owner.login %>/<%= file.repo.name %>/edit/<%= file.branch %>/<%= file.path %>'>
          <h3><%= file.name %></h3>
          <span class='deemphasize'><%= file.name %></span>
        </a>
      <% } else { %>
        <h3 class='title' title='<%= file.name %>'><a class='clearfix'href='#<%= file.repo.owner.login %>/<%= file.repo.name %>/edit/<%= file.branch %>/<%= file.path %>'><%= file.name %></a></h3>
      <% } %>
    </a>
  <% } %>
</div>
