/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

/* ------------------------------------------
  @font-face
---------------------------------------------*/
@font-face {
  font-family:'OpenSans';
    src:url('fonts/OpenSans-Regular.eot');
    src:url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight:400;
  font-style:normal;
  }

@font-face {
  font-family:'OpenSans';
    src:url('fonts/OpenSans-Italic.eot');
    src:url('fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Italic.woff') format('woff');
  font-weight:400;
  font-style:italic;
  }

@font-face {
  font-family:'OpenSans';
    src:url('fonts/OpenSans-Bold.eot');
    src:url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Bold.woff') format('woff');
  font-weight:700;
  font-style:normal;
  }

/* ------------------------------------------
  Typography / Basics
---------------------------------------------*/
* {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }

body,
textarea,
input { font:13px/20px 'OpenSans', sans-serif; }

html, body {
  background:#e7eef2;
  color:#57676e;
  -webkit-font-smoothing:antialiased;
  }

a {
  color:#434c50;
  text-decoration:none;
  font-weight:700;
  -webkit-transition:color 100ms linear;
     -moz-transition:color 100ms linear;
       -o-transition:color 100ms linear;
          transition:color 100ms linear;
  }
  a.light {
    font-weight:normal;
    }
  a:hover {
    color:#202020;
    }

.button {
  background:#516066;
  display:block;
  position:relative;
  padding:10px 15px;
  text-transform:uppercase;
  font-size:11px;
  font-weight:700;
  color:#fff;
  text-align:center;
  }
  .button:hover        { background:#3d4548; color:#fff; }
  .button.delete       { background-color:#db6f6f; }
  .button.delete:hover { background-color:#d14646; }

  p > a {font-weight:700;}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  line-height:1.5em;
  }
h1 {
  font-size:24px;
  }

h2 {
  font-size:20px;
  font-weight:400;
  padding:0 0 5px;
  }
  h2.label {
    margin:10px 0 0;
    padding:0;
    }

h3 {
  font-size:16px;
  font-weight:700;
  }

h4 { font-size:14px; }
h5 { font-size:13px; }
h6 { font-size:11px; font-weight:400; }

.label,
h1 small,
h2 small {
  font-size:13px;
  font-weight:400;
  }

h3 small { font-size:14px; font-weight:400; }
p {
  font-size:16px;
  line-height:1.5em;
	margin:0 0 20px;
  }
label {
  display:block;
  font-size:13px;
  line-height:18px;
  margin:5px 0 2px;
  }
select,
textarea,
input[type=text] {
  font-size:13px;
  line-height:18px;
  display:inline-block;
  width:100%;
  padding:6px 8px;
  -webkit-border-radius:1px;
          border-radius:1px;
  }
textarea,
input[type=text] {
  background-color:#fff;
  border:1px solid #aaa;
  color:#999;
  -webkit-transition:border linear .2s, box-shadow linear .2s;
     -moz-transition:border linear .2s, box-shadow linear .2s;
       -o-transition:border linear .2s, box-shadow linear .2s;
          transition:border linear .2s, box-shadow linear .2s;
  }
  textarea:focus,
  input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    color:#404040;
    border-color:#808080;
    border-width:1px;
    }


strong  { font-weight:700; }
em      { font-style:italic; }

/* ------------------------------------------
  Styled Content
---------------------------------------------*/
.bright,
.prose {
  background:#fff;
  }
.prose * {
	line-height:1.2em;
  }

.prose h1 {
  font-size:28px;
  margin:15px 0;
  }

.prose h2 {
  font-size:20px;
  margin:15px 0;
  font-weight:700;
  padding:0;
  }

.prose h3 {
  font-size:18px;
  font-weight:700;
  margin:10px 0 5px;
  }

.prose h4,
.prose h5,
.prose h6 {
  font-size:14px;
  font-weight:700;
  margin:10px 0 5px;
  }

.prose .title {
  font-size:18px;
  font-weight:700;
  border-bottom:1px solid #d5e0e4;
  margin-bottom:15px;
  padding-bottom:15px;
  }

.prose p,
.prose ul,
.prose ol,
.prose li {
  font-size:16px;
	line-height:1.5em;
  }

.prose ol,
.prose ul {
  margin:0 0 15px 30px;
  }
.prose ol {
  list-style:decimal;
  }
.prose ul {
  list-style:disc;
  }

.prose blockquote {
	padding-left:19px;
  border-left:1px solid #d5e0e4;
  font-style:italic;
  margin-bottom:20px;
  }

.prose p {
  margin-bottom:15px;
  }

.prose img {
  max-width:100%;
  }

.prose a {
  color: #90BB74;
  }
  .prose a:hover {
    color:#73955C;
    }

.prose code {
  background:#f8f8f8;
  font:13px/1.4em Menlo, monospace;
  -webkit-font-smoothing:subpixel-antialiased;
  padding:4px;
  margin:0 2px;
  font-size:12px;
  -webkit-border-radius:3px;
          border-radius:3px;
  }
.prose pre {
  background:#f8f8f8;
  font:13px/1.4em Menlo, monospace;
  -webkit-font-smoothing:subpixel-antialiased;
  overflow:auto;
  margin-bottom:15px;
  padding:15px;
  }
  .prose pre code {
    border:none;
    margin:0;
    padding:0;
    }

/* ------------------------------------------
  Global Layout
---------------------------------------------*/
.limiter {
  width:740px;
  margin:0 auto;
  -webkit-transition:width 300ms;
     -moz-transition:width 300ms;
       -o-transition:width 300ms;
          transition:width 300ms;
  }
  .open .limiter {
    width:1000px;
    }

/* Alterable filename input */
.heading .filepath {
  background:transparent;
  border:none;
  color:#434c50;
  margin:0;
  font-size:20px;
  line-height:1.5em;
  font-weight:700;
  padding:0;
  width:580px;
  }
  .heading .details {
    position:relative;
    }
  .heading .details .mask {
    background:transparent url(img/filepath-mask.png) no-repeat top right;
    position:absolute;
    width:60px;
    height:30px;
    bottom:0;
    right:0;
    }
  .heading .filepath:focus,
  .heading .filepath:hover {
    background-color:#e0e7eb;
    }

.inner {
  padding:15px;
  }
  .inner.deep {
    padding:60px;
    }

.application {
  width:1000px;
  margin:15px auto 60px;
  position:relative;
  }

  /*
    Remove the presentation of the application
    when viewing static pages.
  */
  .static .heading,
  .static .application {
    display:none;
    }

.content {
  position:relative;
  z-index:500;
  width:680px;
  height:600px;
  height:auto!important;
  min-height:600px;
  left:130px;
  -webkit-transition:left 300ms;
     -moz-transition:left 300ms;
       -o-transition:left 300ms;
          transition:left 300ms;
  }
  .open .content {
    left:0;
    }

.sidebar {
  position:relative;
  z-index:100;
  width:260px;
  height:600px;
  height:auto!important;
  min-height:600px;
  right:130px;
  -webkit-transition:right 300ms;
     -moz-transition:right 300ms;
       -o-transition:right 300ms;
          transition:right 300ms;
  }
  .open .sidebar {
    right:1px;
    }
  .sidebar .navigation {
    position:absolute;
    top:0;
    width:60px;
    right:-60px;
    height:100%;
    z-index:-1;
    }

/* ------------------------------------------
  Global Styles
---------------------------------------------*/
.content {
  background:#fff;
  -webkit-border-radius:4px 0 0 4px;
          border-radius:4px 0 0 4px;
  }

.sidebar {
  background:#f8f8f8;
  -webkit-border-radius:0 4px 4px 0;
          border-radius:0 4px 4px 0;
  -webkit-box-shadow:inset 0 0 0 1px #fff,
                     inset 4px 0 2px -2px rgba(0,0,0,0.05);
          box-shadow:inset 0 0 0 1px #fff,
                     inset 4px 0 2px -2px rgba(0,0,0,0.05);
  }
  .vert {
    background:#404040;
    -webkit-border-radius:0 4px 4px 0;
            border-radius:0 4px 4px 0;
    }
  .vert .nav.project {
    margin:10px 0 0;
    padding-bottom:5px;
    border-bottom:1px solid #202020;
    }
  .vert .nav.post-views {
    padding-top:5px;
    border-top:1px solid #555;
    }
  .vert .nav li a {
    background-color:#404040;
    display:block;
    width:40px;
    height:40px;
    margin:5px 10px;
    position:relative;
    z-index:10;
    }
    .vert .nav li a:hover {
      background-color:#505050;
      }
    .vert .nav li a:active {
      -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.25),
                         inset 0 2px 2px #202020;
              box-shadow:0 1px 1px rgba(255,255,255,0.25),
                         inset 0 2px 2px #202020;
      }
      .vert .nav li a.active:active {
        background-color:#444;
        border-color:#101010;
        -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.25),
                           inset 0 2px 2px #202020;
                box-shadow:0 1px 1px rgba(255,255,255,0.25),
                           inset 0 2px 2px #202020;
        }
    .vert .nav li a.active {
      pointer-events:none;
      background-color:#fff;
      -webkit-box-shadow:inset 0 1px 0 #202020;
              box-shadow:inset 0 1px 0 #202020;
      }

.icon {
  background:transparent url('img/sprite.png') no-repeat 0 0;
  width:40px;
  height:40px;
  display:block;
  text-indent:-999em;
  }
  .icon.landing {
    background-position:0 -140px;
    width:110px;
    height:110px;
    margin:30px auto 0;
    }
  .icon.small {
    background-position:0 -80px;
    width:20px;
    height:20px;
    }
  .icon.inline {
    display:inline-block;
    position:relative;
    top:5px;
    }

.icon.branding      { background-position:0 -100px; }
.icon.help          { background-position:-60px -80px; }
.icon.about         { background-position:-80px -80px; }
.icon.folder        { background-position:-100px -80px; }
.icon.file          { background-position:-120px -80px; }
.icon.private       { background-position:-140px -80px; }
.icon.folder-group  { background-position:-200px -80px; }
.icon.cancel        { background-position:-220px -80px; }

.content .icon.repo          { background-position:-40px -100px; }
.heading .icon.repo          { background-position:-40px -100px; }
.content .icon.repo.private  { background-position:-80px -100px; }
.heading .icon.repo.private  { background-position:-80px -100px; }

.markdown .icon.md           { background-position:-120px -100px; }
.heading .icon.file          { background-position:-160px -100px; }
.heading .icon.file.private  { background-position:-200px -100px; }

.icon.assets                 { background-position:-40px 0; }
.icon.assets.active:active,
.icon.assetsactive           { background-position:-40px -40px; }

.icon.settings,
.icon.settings.active:active  { background-position:-80px 0; }
.icon.settings.active         { background-position:-80px -40px; }

.icon.edit,
.icon.edit.active:active      { background-position:-120px 0; }
.icon.edit.active             { background-position:-120px -40px; }

.icon.preview,
.icon.preview.active:active   { background-position:-160px 0; }
.icon.preview.active          { background-position:-160px -40px; }

.icon.repos,
.icon.repos.active:active     { background-position:-200px 0; }
.icon.repos.active            { background-position:-200px -40px; }

.icon.new,
.icon.new.active:active       { background-position:-240px 0; }
.icon.new.active              { background-position:-240px -40px; }

.icon.repo,
.icon.repo.active:active      { background-position:-280px 0; }
.icon.repo.active             { background-position:-280px -40px; }

.avatar {
  background:#fff;
  display:inline-block;
  padding:5px;
  }
  .heading .avatar {
    padding:5px;
    margin:0 10px 0 0;
    height:50px;
    width:50px;
    }

.listing .icon {
  background-color:#f8f8f8;
  }
  .listing .icon.small {
    background-color:transparent;
    }
.heading .icon {
  background-color:#fff;
  }

/* Top Branding/Navigation */
.header {
  font-size:12px;
  font-weight:700;
  padding:15px 20px 0;
  position:relative;
  z-index:100;
  }

.heading {
  height:60px;
  }

.details {
  padding-right:15px;
  }
  .content .details {
    width:400px;
    }
  .details h4 {
    position:relative;
    top:3px;
    }
  .content .details {
    width:340px;
    margin:0 15px;
    }

.loading {
  background:transparent url('img/ajax-loader.gif') no-repeat;
  margin:150px auto;
  width:50px;
  font-size:20px;
  text-align:center;
  height:11px;
  }
  .loading span {
    display:none;
    }

.breadcrumb {
  background:#F8F8F8;
  position:relative;
  z-index:20;
  border-top:1px solid #C3CCD0;
  border-bottom:1px solid #C3CCD0;
  margin-bottom:-1px;
  padding:0 15px;
  height:40px;
  line-height:40px;
  }

.popup {
  background:#202020;
  color:#fff;
  position:absolute;
  width:auto;
  padding:5px 10px;
  left:100%;
  display:none;
  top:0;
  text-indent:0;
  font-size:11px;
  line-height:18px;
  }
  .popup.arrow-left:after {
    border-color:transparent #202020;
    top:10px;
    }
  a:hover .popup {
    display:block;
    }

.footer {
  background:#e0e7eb;
  position:relative;
  font-size:12px;
  padding:15px 0;
  height:60px;
  }
  .start .footer {
    position:fixed;
    bottom:0;
    width:100%;
    }
  .footer .prose-logo {
    position:absolute;
    height:60px;
    bottom:0;
    left:50%;
    margin:0 0 0 -30px;
    }
    .footer .prose-logo .branding {
      margin:10px;
      }
  .footer .brand {
    margin-top:5px;
    }

/* ------------------------------------------
  Unauthenticated Landing
---------------------------------------------*/
.start .splash {
  background:#fff;
  text-align:center;
  margin:60px auto 0;
  width:340px;
  border:1px solid #C3CCD0;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0),
             0 0 10px rgba(0, 0, 0, 0.1);
  }

/* ------------------------------------------
  Page Components
---------------------------------------------*/
.topbar {
  border-bottom:1px solid #C3CCD0;
  margin-bottom:-1px;
  position:relative;
  z-index:10;
  height:60px;
  }
  .toolbar .inner {
    padding:13px 15px 0;
    }

.content-search input {
  border:none;
  margin-top:5px;
  padding:15px;
  font-size:18px;
  line-height:26px;
  width:90%;
  height:50px;
  }
.content-search .icon {
  top:10px;
  }

.menu li {
  float:left;
  margin-right:15px;
  }

.actions a {
  background:#f8f8f8;
  display:block;
  border:1px solid #c3ccd0;
  padding:4px 10px;
  font-weight:400;
  margin:5px -1px 0;
  float:left;
  }
  .actions a:active {
    position:relative;
    border-color:#526066;
    }

.editor,
.listing {
  overflow:auto;
  }
  .listing li > a {
    display:block;
    padding:8px 15px 9px;
    border-top:1px solid #C3CCD0;
    }
    .sidebar .listing li a {
      border-color:#fff;
      }
      .sidebar .listing li a:hover {
        background-color:#fff;
        }
    .listing .markdown a {
      padding:15px;
      overflow:hidden; /* todo: why? */
      }
      .listing .markdown a:hover .icon {
        background-color:#fff;
        }

    .listing li a.active,
    .listing li a:hover {
      background:#f8f8f8;
      }

.content .editor {
  height:600px;
  }
.content .toolbar + .editor,
.content .listing {
  height:540px;
  }
  .content .breadcrumb + .listing {
    height:500px;
    }

  .profile .content .listing li {
    position:relative;
    display:block;
    padding:10px 15px;
    border-top:1px solid #f0f0f0;
    }
    .profile .content .listing li > a {
      padding:0;
      display:inline;
      border:none;
      }

.prose .blocks {
  margin:0;
  padding:0;
  }
  .blocks .img {
    width:100%;
    height:120px;
    background-size:cover;
    }
  .blocks li {
    list-style:none;
    width:33.333%;
    display:block;
    float:left;
    }
    .blocks li a {
      background-color:#fff;
      border:#c3ccd0 1px solid;
      margin:0 5px 15px;
      color:#444;
      display:block;
      font-weight:400;
      height:280px;
      border:1px solid #C3CCD0;
      box-shadow:0 1px 0 rgba(255, 255, 255, 0),
                 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .blocks li a:hover {
        border-color:#516066;
        color:#444;
        }

.dropdown-menu {
  position:relative;
  }
  .dropdown-hover {
    display:block;
    height:35px;
    padding:0 15px;
    border:1px solid #c4ced1;
    line-height:34px;
    -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.5);
            box-shadow:0 1px 1px rgba(255,255,255,0.5);
    }
  .dropdown {
    background-color:#fff;
    position:absolute;
    top:100%;
    right:0;
    z-index:1000;
    float:left;
    min-width:120px;
    padding:4px 0;
    text-align:left;
    display:none;
    opacity:0;
    -webkit-animation-fill-mode:both;
       -moz-animation-fill-mode:both;
         -o-animation-fill-mode:both;
            animation-fill-mode:both;
    -webkit-animation-duration:100ms;
       -moz-animation-duration:100ms;
         -o-animation-duration:100ms;
            animation-duration:100ms;
    -webkit-box-shadow:0 4px 10px rgba(0,0,0,0.15);
            box-shadow:0 4px 10px rgba(0,0,0,0.15);
    -webkit-background-clip:padding-box;
       -moz-background-clip:padding;
            background-clip:padding-box;
    }
    .dropdown li {
      display:block;
      }
    .dropdown li.divider {
      border-bottom:1px solid #e0e0e0;
      margin:10px 0 5px;
      }
    .dropdown > li > a {
      background:transparent;
      }
    .dropdown > li > a {
      display:block;
      padding:4px 15px;
      margin-bottom:1px;
      float:none;
      clear:both;
      line-height:20px;
      white-space:nowrap;
      font-weight:400;
      }
    .dropdown a.active,
    .dropdown > li > a:hover,
    .dropdown > li > a:focus {
      background-color:#e7eef2;
      text-decoration:none;
      }
    .dropdown:after {
      right:20px;
      }

.open {
  *z-index:1000;
  }
  .open > .dropdown {
    display:block;
    opacity:1;
    -webkit-animation-delay:100ms;
       -moz-animation-delay:100ms;
         -o-animation-delay:100ms;
            animation-delay:100ms;
    -webkit-animation-name:fadeInTop;
       -moz-animation-name:fadeInTop;
         -o-animation-name:fadeInTop;
            animation-name:fadeInTop;
    }

/* ------------------------------------------
  Animation
---------------------------------------------*/
@-webkit-keyframes fadeInTop {
	0%    { opacity:0; -webkit-transform:translateY(-20px); }
	100%  { opacity:1; -webkit-transform:translateY(0); }
  }
@-moz-keyframes fadeInTop {
	0%    { opacity:0; -moz-transform:translateY(-20px); }
	100%  { opacity:1; -moz-transform:translateY(0); }
  }
@-o-keyframes fadeInTop {
	0%    { opacity:0; -o-transform:translateY(-20px); }
	100%  { opacity:1; -o-transform:translateY(0); }
  }
@keyframes fadeInTop {
	0%    { opacity:0; transform:translateY(-20px); }
	100%  { opacity:1; transform:translateY(0); }
  }

/* ------------------------------------------
  File /:filename
---------------------------------------------*/
.post .view {
  display:none;
  }
  .post .view.active {
    display:block;
    }

.drawer .commit {
  position:relative;
  display:none;
  margin-bottom:15px;
  }
  .drawer .commit .cancel {
    position:absolute;
    top:9px;
    right:18px;
    }
  .drawer .commit textarea {
    padding-right:30px;
    resize:none;
    }
  .drawer .commit.active {
    display:block;
    }

.drawer .button {
  margin-bottom:10px;
  }

/* ------------------------------------------
  Pages: Help
---------------------------------------------*/
.improve-article {
  font-size:20px;
  border-top:1px solid #C3CCD0;
  }

/* ------------------------------------------
  Notifications
---------------------------------------------*/
.notify {
  text-align:center;
  width:440px;
  margin:60px auto 0 auto;
  font-size:24px;
  line-height:1.5em;
  font-weight:700;
  }

label.error {
  color:#E73C58;
  position:absolute;
  right:5px;
  top:23px;
  font-size:12px;
  }

/* ------------------------------------------
  Chosen Plugin for fancy selects
---------------------------------------------*/
.chzn-container {
  font-size:13px;
  line-height:18px;
  position:relative;
  display:inline-block;
  zoom:1;
  *display:inline;
  }
.chzn-container .chzn-drop {
  background:#fff;
  border:1px solid #aaa;
  border-top:0;
  position:absolute;
  z-index:1010;
  top:29px;
  left:0;
  margin:1px;
  -webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);
          box-shadow:0 4px 5px rgba(0,0,0,.15);
  }
.chzn-container-single .chzn-single {
  background-color:#fff;
  border:1px solid #aaaaaa;
  display:block;
  overflow:hidden;
  white-space:nowrap;
  position:relative;
  height:33px;
  line-height:30px;
  padding:0 0 0 8px;
  color:#404040;
  text-decoration:none;
  -webkit-background-clip:padding-box;
          background-clip:padding-box;
  -webkit-border-radius:3px;
          border-radius:3px;
  -webkit-box-shadow:0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
          box-shadow:0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  }
.chzn-container-single .chzn-default {
  color:#999;
  }
.chzn-container-single .chzn-single span {
  margin-right:20px;
  display:block;
  overflow:hidden;
  font-weight:normal;
  white-space:nowrap;
  -ms-text-overflow:ellipsis;
   -o-text-overflow:ellipsis;
      text-overflow:ellipsis;
  }
.chzn-container-single .chzn-single abbr {
  background:url('img/sprite.png') -42px 1px no-repeat;
  display:block;
  position:absolute;
  right:26px;
  top:6px;
  width:12px;
  height:12px;
  text-indent:-999em;
  }
  .chzn-container-single .chzn-single abbr:hover {
    background-position:-42px -10px;
    }
  .chzn-container-single.chzn-disabled .chzn-single abbr:hover {
    background-position:-42px -10px;
    }

.chzn-container-single .chzn-single div {
  position:absolute;
  right:0;
  top:0;
  display:block;
  height:100%;
  width:18px;
  }
  .chzn-container-single .chzn-single div b {
    background:transparent url('img/sprite.png') no-repeat -20px -75px;
    display:block;
    width:20px;
    height:20px;
    position:relative;
    right:5px;
    }

.chzn-container-single .chzn-search {
  padding:3px 4px;
  position:relative;
  margin:8px 0;
  white-space:nowrap;
  z-index:1010;
  }
  .chzn-container-single .chzn-search input {
    background:#fff url('img/sprite.png') no-repeat 190px -75px;
    margin:0 4px;
    padding:4px 20px 4px 4px;
    border:1px solid #aaa;
    width:20px;
    height:30px;
    }

.chzn-container-single .chzn-drop {
  -webkit-border-radius:0 0 3px 3px;
          border-radius:0 0 3px 3px;
  -webkit-background-clip:padding-box;
          background-clip:padding-box;
  }
.chzn-container-single-nosearch .chzn-search input {
  position:absolute;
  left:-9000px;
  }

.chzn-container-multi .chzn-choices {
  background-color:#fff;
  border:1px solid #aaa;
  margin:0;
  padding:0;
  cursor:text;
  overflow:hidden;
  height:auto !important;
  height:1%;
  position:relative;
  }
.chzn-container-multi .chzn-choices li {
  float:left;
  list-style:none;
  }
.chzn-container-multi .chzn-choices .search-field {
  white-space:nowrap;
  margin:0;
  padding:0;
  }
.chzn-container-multi .chzn-choices .search-field input {
  border:none;
  height:15px;
  padding:5px;
  color:#666;
  height:30px;
  -webkit-box-shadow:none;
          box-shadow:none;
  }
.chzn-container-multi .chzn-choices .search-field .default {
  color:#999;
  }
.chzn-container-multi .chzn-choices .search-choice {
  background:#f0f0f0;
  color:#404040;
  border:1px solid #aaa;
  line-height:13px;
  padding:3px 20px 3px 5px;
  margin:3px;
  position:relative;
  cursor:default;
  -webkit-background-clip:padding-box;
          background-clip:padding-box;
  -webkit-box-shadow:0 0 2px #ffffff inset,
                     0 1px 0 rgba(0,0,0,0.05);
          box-shadow:0 0 2px #ffffff inset,
                     0 1px 0 rgba(0,0,0,0.05);
  -webkit-border-radius:3px;
          border-radius:3px;
  }
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color:#e4e4e4;
  color:#666;
  border:1px solid #cccccc;
  padding-right:5px;
  }
.chzn-container-multi .chzn-choices .search-choice-focus {
  background:#d4d4d4;
  }
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  background:transparent url('img/sprite.png') no-repeat -40px -80px;
  display:block;
  position:absolute;
  right:0;
  top:0;
  width:20px;
  height:20px;
  text-indent:-999em;
  }
.chzn-container .chzn-results {
  margin:0 4px 4px 0;
  max-height:240px;
  padding:0 0 0 4px;
  position:relative;
  overflow-x:hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  }
.chzn-container-multi .chzn-results {
  margin:-1px 0 0;
  padding:0;
  }
.chzn-container .chzn-results li {
  display:none;
  line-height:15px;
  padding:5px 6px;
  margin:0;
  list-style:none;
  }
.chzn-container .chzn-results .active-result {
  cursor:pointer;
  display:list-item;
  }
.chzn-container .chzn-results .highlighted {
  background-color:#1f90ff;
  color:#fff;
  }
.chzn-container .chzn-results li em {
  background:#feffde;
  font-style:normal;
  }
.chzn-container .chzn-results .highlighted em {
  background:transparent;
  }
.chzn-container .chzn-results .no-results {
  background:#f4f4f4;
  display:list-item;
  }
.chzn-container .chzn-results .group-result {
  cursor:default;
  color:#999;
  font-weight:bold;
  }
.chzn-container .chzn-results .group-option {
  padding-left:15px;
  }
.chzn-container-multi .chzn-drop .result-selected {
  display:none;
  }
.chzn-container .chzn-results-scroll {
  background:#fff;
  margin:0 4px;
  position:absolute;
  text-align:center;
  width:321px;/* This should by dynamic with js */
  z-index:1;
  }
.chzn-container .chzn-results-scroll span {
  display:inline-block;
  height:17px;
  text-indent:-999em;
  width:9px;
  }
.chzn-container .chzn-results-scroll-down {
  bottom:0;
  }
  .chzn-container .chzn-results-scroll-down span {
    background:url('img/sprite.png') no-repeat 0 -75px;
    }

.chzn-container-active .chzn-single-with-drop {
  border:1px solid #aaa;
  -webkit-box-shadow:inset 0 1px 0 #fff;
          box-shadow:inset 0 1px 0 #fff;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-bottom-right-radius:0;
          border-bottom-left-radius:0;
          border-bottom-right-radius:0;
  }
.chzn-container-active .chzn-single-with-drop div {
  background:transparent;
  border-left:none;
  }

.chzn-container-active .chzn-choices {
  border:1px solid #808080;
  }
.chzn-container-active .chzn-choices .search-field input {
  color:#111!important;
  }

.chzn-disabled {
  cursor:default;
  opacity:0.5!important;
  }
.chzn-disabled .chzn-single {
  cursor:default;
  }
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor:default;
  }

/* ------------------------------------------
  Class Helpers
---------------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

.fl    { float:left; }
.fr    { float:right; }

.hidden       { display:none; }
.centered     { text-align:center; }
.scrolling    { overflow:auto; }
.clipping     { overflow:hidden; }

.deemphasize {
  font-weight:normal;
  color:#888;
  }
.shadow {
  -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.10);
          box-shadow:0 2px 6px rgba(0,0,0,0.10);
  }
.round {
  -webkit-border-radius:4px;
          border-radius:4px;
  }

.arrow-top:after,
.arrow-right:after,
.arrow-bottom:after,
.arrow-left:after {
  content:'';
  border-width:0 5px 5px;
  border-style:solid;
  position:absolute;
  border-color:#fff transparent;
  }
  .arrow-top:after {
    top:-5px;
    }
  .arrow-bottom:after {
    border-width:5px 5px 0;
    bottom:-5px;
    }
  .arrow-left:after,
  .arrow-right:after {
    border-color:transparent #fff;
    }
  .arrow-left:after {
    border-width:5px 5px 5px 0;
    left:-5px;
    }
  .arrow-right:after {
    border-width:5px 0 5px 5px;
    right:-5px;
    }

/* ------------------------------------------
  CodeMirror
---------------------------------------------*/
.CodeMirror {
  font:13px/1.4em Menlo, monospace;
  -webkit-font-smoothing:subpixel-antialiased;
  /* Necessary so the scrollbar can be absolutely positioned within the wrapper on Lion. */
  position:relative;
  /* This prevents unwanted scrollbars from showing up on the body and wrapper in IE. */
  overflow:hidden;
  }
  .markdown .CodeMirror {
    font:14px/1.7em Menlo, monospace;
    }

.CodeMirror-scroll {
  overflow-x:auto;
  overflow-y:hidden;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position:relative;
  outline:none;
  }

/* Vertical scrollbar */
.CodeMirror-scrollbar {
  float:right;
  overflow-x:hidden;
  overflow-y:scroll;
  /* This corrects for the 1px gap introduced to the left of the scrollbar
     by the rule for .CodeMirror-scrollbar-inner. */
  margin-left:-1px;
  }
.CodeMirror-scrollbar-inner {
  /* This needs to have a nonzero width in order for the scrollbar to appear
     in Firefox and IE9. */
  width:1px;
  }
.CodeMirror-scrollbar.cm-sb-overlap {
  /* Ensure that the scrollbar appears in Lion, and that it overlaps the content
     rather than sitting to the right of it. */
  position:absolute;
  z-index:1;
  float:none;
  right:0;
  min-width:12px;
  }
.CodeMirror-scrollbar.cm-sb-nonoverlap {
  min-width:12px;
  }
.CodeMirror-scrollbar.cm-sb-ie7 {
  min-width:18px;
  }

.CodeMirror-gutter {
  position:absolute;
  left:0; top:0;
  z-index:10;
  background-color:#f7f7f7;
  border-right:1px solid #eee;
  min-width:2em;
  height:100%;
  }
.CodeMirror-gutter-text {
  text-align:right;
  padding:.4em .2em .4em .4em;
  white-space:pre!important;
  cursor:default;
  }
.CodeMirror-lines {
  white-space:pre;
  cursor:text;
  }
.CodeMirror-lines * {
  /* Necessary for throw-scrolling to decelerate properly on Safari. */
  pointer-events:none;
  }

.CodeMirror pre {
  background:transparent;
  border-width:0;
  font-family:inherit;
  font-size:inherit;
  padding:0; margin:0;
  white-space:pre;
  line-height:inherit;
  color:inherit;
  word-wrap:normal;
  border-radius:0;
  }

.CodeMirror-wrap pre {
  word-wrap:break-word;
  white-space:pre-wrap;
  word-break:normal;
  }
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x:hidden;
  }
.CodeMirror textarea {
  outline:none;
  }
.CodeMirror pre.CodeMirror-cursor {
  z-index:10;
  position:absolute;
  visibility:hidden;
  border-left:1px solid black;
  border-right:none;
  width:0;
  }
.cm-keymap-fat-cursor pre.CodeMirror-cursor {
  background:transparent;
  background:rgba(0, 200, 0, .4);
  width:auto;
  border:0;
  }
.CodeMirror pre.CodeMirror-cursor.CodeMirror-overwrite {}
.CodeMirror-focused pre.CodeMirror-cursor {
  visibility:visible;
  }

div.CodeMirror-selected { background:#d9d9d9; }
.CodeMirror-focused div.CodeMirror-selected { background:#d7d4f0; }

.CodeMirror-searching {
  background:#ffa;
  background:rgba(255, 255, 0, .4);
  }

div.CodeMirror span.CodeMirror-matchingbracket { /* color: #0f0; */ color: black; background-color: #ccc; }
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}

/* Prose Bright Theme */
.cm-s-prose-bright {  color: #3D494E; }
.cm-s-prose-bright .CodeMirror-selected {background: #AFC3CF; }
.cm-s-prose-bright .CodeMirror-cursor { border-left: 2px solid #667880; }
.cm-s-prose-bright .CodeMirror-lines { margin-left:3px; margin-right:3px; }

.cm-s-prose-bright .CodeMirror-gutter { background: #E7EEF2; border-right:1px solid #C3CCD0;; padding-right:3px; min-width:2.5em; }
.cm-s-prose-bright .CodeMirror-gutter-text { color: #C3CCD0; }

.cm-s-prose-bright span.cm-keyword { color:#EB550F; }
.cm-s-prose-bright span.cm-atom { color:#2f8aa9; }
.cm-s-prose-bright span.cm-number { color:#24B6B9; }
.cm-s-prose-bright span.cm-def {color:#7AC548;}
.cm-s-prose-bright span.cm-variable { color:#1D7799; }
.cm-s-prose-bright span.cm-variable-2 { color:#05a; }
.cm-s-prose-bright span.cm-variable-3 { color:#085; }
.cm-s-prose-bright span.cm-property {color:#92A75C;}
.cm-s-prose-bright span.cm-operator {color:#92A75C;}
.cm-s-prose-bright span.cm-comment { color:#888; }
.cm-s-prose-bright span.cm-string { color:#0098AD; }
.cm-s-prose-bright span.cm-string-2 {color:#0098AD;}
.cm-s-prose-bright span.cm-meta { color:#4f696f; }
.cm-s-prose-bright span.cm-error { color:#DB6F6F; }
.cm-s-prose-bright span.cm-qualifier {color:#555;}
.cm-s-prose-bright span.cm-builtin { color:#30a; }

/* Brick */
.cm-s-prose-bright span.cm-bracket { color:#ec6c45; }
.cm-s-prose-bright span.cm-link {color:#ec6c45; text-decoration:underline;}
.cm-s-prose-bright span.cm-tag { color:#ec6c45; }

.cm-s-prose-bright span.cm-attribute {color:#8db75a;}
.cm-s-prose-bright span.cm-header {color:#303030; font-weight:bold;}
.cm-s-prose-bright span.cm-quote {color:#078FA2;}
.cm-s-prose-bright span.cm-hr {color:#515F66;}
.cm-s-prose-bright span.cm-em {font-style:italic;}
.cm-s-prose-bright span.cm-strong {font-weight:bold;}

/* ------------------------------------------
  ios and small screen alterations
---------------------------------------------*/
 @media all and (max-width: 480px) {}
