---
---
{% include vendor/reset.css %}

/* ### Icons ### */
@font-face {
  font-family:'Iconic';
  src:url('iconic.ttf');
  }

.i:before {
  margin-right:5px;
  font-size:18px;
  vertical-align:-5%;
  font-family:'Iconic';
  }

.iy:before { content:'y'; }
.ix:before { content:'x'; }
.iedit:before { content:'P'; }
.irepo:before { content:'w'; }
.ihome:before { content:'!'; }
.iback:before { content:'6'; }
.iplus:before { content:'='; }

.posts small.i:before { margin:0px; }

body,
textarea,
input { font:14px/20px Helvetica,Arial,sans-serif; }

html {
  background:#e6e5e1;
  box-shadow:inset #eee 0px 0px 40px 10px;
  height:100%;
  }

body {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  color:#222;
  }

a {
  color:#268;
  text-decoration:none;
  }

b, strong { font-weight:bold; }
em, i { font-style:italic; }

small,
label { font-size:12px; }
textarea { resize:none; }

.overlay > .mask,
.loading > .mask,
.fill,
.fill-s,
.fill-n,
.fill-w,
.fill-e {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  display:block;
  }

.fill-s { top:auto; }
.fill-n { bottom:auto; }
.fill-w { right:auto; }
.fill-e { left:auto; }

p { margin:0px 0px 20px; }

.hidden { display:none !important; }
.centered { text-align:center; }
.scrolling { overflow:auto; }
.clipping { overflow:hidden; }

.button,
input[type=button],
input[type=submit] {
  border:1px solid #268;
  line-height:25px;
  height:25px;
  cursor:pointer;
  padding:0px 15px;
  background:#48a;
  box-shadow:
    inset rgba(255,255,255,0.1) 0px 0px 0px 1px,
    inset rgba(255,255,255,0.2) 0px 10px 20px -5px,
    inset rgba(255,255,255,0.3) 0px 1px 0px,
    rgba(0,0,0,0.05) 0px 2px 1px;
  color:#fff;
  border-radius:3px;
  display:inline-block;
  text-shadow:0px -1px rgba(0,0,0,0.2);
  box-sizing:border-box;
  }

.button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  background-color:#59b;
  border-color:#379;
  }

.button:active,
.button.active,
input[type=button]:active,
input[type=submit]:active {
  background-color:#268;
  border-color:#157;
  box-shadow:
    inset rgba(0,0,0,0.5) 0px 1px 3px,
    inset rgba(255,255,255,0.2) 0px 10px 20px -5px;
  }

.button.cancel,
.button.cancel:hover {
  text-shadow:none;
  background:#eee;
  color:#999;
  border-color:#ccc;
  }

.button.cancel:active {
  background:#ddd;
  border-color:#999;
  }

.button.inactive,
.button.inactive:hover,
.button.inactive:active,
.button.inactive.active {
  text-shadow:none;
  background:#eee;
  color:#bbb;
  border-color:#dfdfdf;
  box-shadow: none;
  }

/* Headers */
.header {
  padding:15px 10px;
  height:30px;
  line-height:30px;
  text-align:center;
  white-space:nowrap;
  }

.header .title { margin-right:20px; }

.dialog {
  background:#eee;
  border-radius:5px;
  box-shadow:
    inset #ccc 0px 1px,
    inset #ddd 0px 0px 5px,
    #fff 0px 1px,
    #f8f8f8 0px 3px 3px;
  position:absolute;
  top:60px;
  left:50%;
  bottom:60px;
  margin-left:-240px;
  width:480px;
  }

.dialog .header { box-shadow:rgba(0,0,0,0.05) 0px 1px; }
.dialog .content { top:60px; }

/* User box */
#user {
  font-size:12px;
  position:absolute;
  top:0;
  right:0;
  z-index:2;
  padding:5px;
  background:#eee;
  border-radius:0 0 0 5px;
  box-shadow:
    inset #ccc 0px 1px,
    inset #ddd 0px 0px 5px,
    #fff 0px 1px,
    #f8f8f8 0px 3px 3px;
  }
  #user img {
  border-radius:2px;
    width:30px;
    height:30px;
    vertical-align:middle;
    }
  #user .name,
  #user .logout {
    display:inline;
    padding:0 5px;
    }
  #user a { color:#222; }
  #user .logout a { color:#999; }

/* Start */
.start {
  top:50%;
  bottom:auto;
  height:80px;
  margin-top:-40px;
  }

/* Form hint */
#hint {
  position: absolute;
  top: -30px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  }

/* Error */
.error {
  top:50%;
  bottom:auto;
  height:120px;
  margin-top:-60px;
  }

.error .message {
  padding:20px;
  }

/* Dialogs */
/*.form label,*/
/*.posts small {
  color:#999;
  display:inline-block;
  text-align:right;
  width:80px;
  padding-right:10px;
  }*/

/*.posts .back a,
.posts .tree a {
  color:#999;
  font-weight:bold;
  }*/

/*.form li,*/

/*.posts a {
  position:relative;
  display:block;
  padding:5px 20px;
  white-space:nowrap;
  overflow:hidden;
  box-shadow:inset rgba(0,0,0,0.05) 0px -1px;
  }

.posts a:hover {
  background:#fff;
  box-shadow:
    inset rgba(0,0,0,0.05) 0px -1px,
    inset #ddd 5px 0px 5px -5px,
    inset #ddd -5px 0px 5px -5px,
    inset #eee 40px 0px 40px -40px,
    inset #eee -40px 0px 40px -40px;
  }

.posts .format {
  position:absolute;
  right:1px;
  background:#fff;
  font-size:12px;
  padding:0px 9px 0px 10px;
  border-radius:3px 0px 0px 3px;
  color:#999;
  }

.posts a:hover .format { background:transparent; }*/

.form li { line-height:30px; }

/* Form elements */
select,
input[type=text] {
  line-height:23px;
  height:25px;
  background:#fff;
  border:1px solid #ccc;
  outline:0px;
  padding:0px 2px;
  border-radius:3px;
  box-shadow:inset #ddd 0px 2px 3px;
  box-sizing:border-box;
  }

input[type=text]:focus {
  border-color:#59b;
  box-shadow:
    #6ac 0px 0px 5px,
    inset #ddd 0px 2px 3px;
  }

input[type=text].stretch,
select.stretch { width:100%; }

/* Editor */
.editor .header .fill {
  padding:15px 20px;
  height:100px;
  box-shadow:
    inset #eee 0px 0px 40px 10px,
    inset #fff -300px 0px 200px -100px,
    inset #fff 300px 0px 200px -100px,
    inset #eee 0px -73px 3px -3px,
    inset #eee 0px -75px 10px -5px;
  }

.editor .writer,
.editor .viewer { width:50%; top:60px; }

.writer textarea,
.writer textarea:focus {
  background:transparent;
  border:0px;
  margin:0px;
  outline:0px;
  padding:30px;
  font-family:'andale mono',monospace;
  }

.viewer { color:#666; }
.viewer .prose {
  padding:30px;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  }

.fields {
  margin:10px 30px 0px;
  white-space:nowrap;
  }

.fields li {
  position:relative;
  padding:5px 0px 5px 100px;
  line-height:20px;
  height:20px;
  }

.fields label {
  position:absolute;
  left:0px;
  text-align:left;
  }

.fields li,
.fields select,
.fields input[type=text] { font-size:12px; }

.fields select,
.fields input[type=text] {
  height:20px;
  line-height:18px;
  box-shadow:none;
  background:#f8f8f8;
  border-color:#eee;
  color:#666;
  }

.fields select:focus,
.fields input[type=text]:focus {
  border-color:#59b;
  background:#fff;
  color:#222;
  box-shadow:
    #6ac 0px 0px 5px,
    inset #ddd 0px 2px 3px;
  }

.editor.fields-1 .prose,
.editor.fields-1 textarea { padding-top:60px; }
.editor.fields-2 .prose,
.editor.fields-2 textarea { padding-top:90px; }
.editor.fields-3 .prose,
.editor.fields-3 textarea { padding-top:120px; }
.editor.fields-4 .prose,
.editor.fields-4 textarea { padding-top:150px; }
.editor.fields-5 .prose,
.editor.fields-5 textarea { padding-top:180px; }
.editor.fields-6 .prose,
.editor.fields-6 textarea { padding-top:210px; }
.editor.fields-7 .prose,
.editor.fields-7 textarea { padding-top:240px; }
.editor.fields-8 .prose,
.editor.fields-8 textarea { padding-top:270px; }
.editor.fields-9 .prose,
.editor.fields-9 textarea { padding-top:300px; }
.editor.fields-10 .prose,
.editor.fields-10 textarea { padding-top:330px; }

/* Prose */
.prose { font:18px/25px "Times New Roman",serif; }

.prose a { border-bottom:1px solid #eee; }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose ul,
.prose ol,
.prose hr,
.prose img,
.prose blockquote,
.prose pre,
.prose table,
.prose iframe,
.prose object {
  display:block;
  margin:0px 0px 25px;
  }

.prose ul li,
.prose ol li { margin-left:25px; }
.prose ul li { list-style:disc; }
.prose ol li { list-style:decimal; }

.prose h1 { font:30px/30px "Times New Roman",serif; margin:0px 0px 10px; }
.prose h2 { font:26px/30px "Times New Roman",serif; margin:0px 0px 10px; }
.prose h3,
.prose h4,
.prose h5,
.prose h6 { font:22px/30px "Times New Roman",serif; margin:0px 0px 10px; }

.prose table { display:table; }

/* Block quotes */
.prose blockquote {
  font-style:italic;
  padding:0px 0px 0px 25px;
  color:#888;
  }

.prose blockquote em { font-style:normal; }

.prose blockquote a { color:#666; }

.prose pre,
.prose code {
  font-size:14px;
  font-family:'andale mono',monospace;
  background:#eee;
  }

.prose pre {
  overflow:auto;
  padding:0px 20px;
  }

table { width:100%; }
table th,
table td {
  text-align:left;
  padding:5px 10px 4px 0px;
  border-bottom:1px solid #ccc;
  }

::-webkit-scrollbar {
  height:10px;
  width:10px;
  border:1px solid #ddd;
  border-radius:2px;
  background:#eee;
  }
::-webkit-scrollbar-thumb {
  border-radius:2px;
  background:#888;
  }
::-webkit-scrollbar-thumb:vertical { height:25px; }
::-webkit-scrollbar-thumb:horizontal { width:25px; }


/* Header */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #086590;
  color: #eee;
  overflow: auto;
  padding: 5px 30px;
}

#header a {
  color: #fff;
}

#header .title {
  margin-right: 30px;
  font-size: 20px;
}

#header .navigation > div {
  float: left;
}

#header .user-status > div {
  float: right;
}

/* Main */

#main {
  margin-top: 100px;
}




#browser {
  overflow: auto;
  position: relative;
  margin: 0;
}
#posts {

  margin: 100px 80px 0 140px;
}
#posts .post {
  background: #fff;
  padding: 10px;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 280px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
}
#posts .post:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.9), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.9), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.9), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
}
#posts .post .image {
  overflow: hidden;
  height: 120px;
}
#posts .post .title {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
  font-style: normal;
  padding: 10px 0;
  font-size: 18px;
}
#posts .post .title a {
  color: #333;
}
#posts .post .author {
  font-size: 14px;
  color: #777;
}
#posts .post .updated-at {
  font-size: 11px;
  padding-right: 20px;
  position: absolute;
  bottom: 5px;
  color: #A2AAAA;
}
#posts a {
  border: none;
}

/* Editor */

.CodeMirror {
  background: white;
  width: 920px;
  margin: auto;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
}