<div class='inner'>
  <h2 class='label inner'><%= t('sidebar.repo.history.label') %></h2>
</div>
<ul id='recent' class='listing'>
  <%
    var recent = history.recent[app.username]; 
    if (rooturl) {
      recent = recent.filter(function(item) {
        return item.indexOf(rooturl) > -1;
      });
    }
  %>
  <% _.each(recent.slice(0,5), function(filename) { 
      var status = history.commits[filename][0].status;
  %>
  <li><a class='item <%= status %>' title='<%= status %>: <%= filename %>' href='#<%= [user, repo, "edit", branch, filename].join("/") %>' data-path='<%= filename %>'>
      <span class='ico small inline <%= status %>'></span>
      <% if (status === 'removed') { %>
        <span class='overlay'>
          <span class='ico small inline <%= status %>'></span>
          <%= t('sidebar.repo.history.actions.restore') %>
        </span>
      <% } %>
      <%= filename %>
    </a></li>
  <% }); %>
</ul>
