<div class='inner'>
  <h2 class='label'><%= t('sidebar.repos.groups') %></h2>
</div>
<ul class='listing'>
  <li>
    <a href='#<%= orgs.user.login %>' title='<%= orgs.user.login %>' data-id='<%= orgs.user.id %>'>
      <span class='ico repos inline small'></span>
      <%= orgs.user.login %>
    </a>
  </li>
  <% orgs.memberOf.each(function(org) {  %>
  <li>
    <a href='#<%= org.login %>' title='<%= org.login %>' data-id='<%= org.id %>'>
      <%= org.login %>
    </a>
  </li>
  <% }); %>
</ul>
