<div class='inner'>
  <h2 class='label'><%= t('sidebar.save.label') %></h2>
</div>
<div class='inner authoring'>
  <div class='commit'>
    <textarea class='commit-message' placeholder></textarea>
    <a class='ico small cancel round' title="<%= t('sidebar.save.cancel') %>" href='#' data-action='cancel'>
      <span class='popup round arrow-bottom'><%= t('sidebar.save.cancel') %></span>
    </a>
  </div>
  <a class='confirm button round' href='#' data-action='confirm'><%= writable %></a>
</div>
