<div class='inner'>
  <h2 class='label'>Options</h2>
</div>
<div class='inner authoring'>
  <!-- if metadata and !draft -->
  <a class='draft button round' href='#'>Create Draft</a>
  
  <% if (languages && lang !== 'yaml') { %>
    <% _.each(languages, function(language) { %>
      <% if (language.value && (metadata && (metadata.lang !== language.value))) { %>
        <a class='translate round button' href='#<%= language.value %>'>Translate to <%= language.name %></a>
      <% } %>
    <% }); %>
  <% } %>

  <!-- if !isNew() and is writable -->
  <a class='delete button round' href='#'>Delete this File</a>
</div>
