@import '../node_modules/codemirror/lib/codemirror';

.CodeMirror {
  font-family: Menlo, monospace;
  font-size: 13px;
  line-height: 1.4em;
  -webkit-font-smoothing: subpixel-antialiased;
  height: auto;
}

.code .CodeMirror-scroll {
  min-height: 360px;
}

.markdown .CodeMirror {
  font-size: 14px
}

.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

.CodeMirror-scrollbar-filler {
  /* The little square between H and V scrollbars */
  background-color: white;
}

.CodeMirror-gutters {
  box-sizing: border-box;
  min-height: inherit;
  height: 100%;
  padding-bottom: 30px;
  background-color: transparent;
  border-right: none;
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #d4d7d9;
}

.cm-s-prose-bright .CodeMirror-gutter {
  border-right: 1px solid #eff3f5;
  padding-right: 5px;
  margin-right: 15px;
  min-width: 2.5em;
  padding-bottom: 30px;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #3D494E;
  z-index: 3;
}

.cm-s-prose-bright .CodeMirror-cursor { border-right: 2px solid #667880; }
.cm-s-prose-bright .CodeMirror-lines { margin: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid #e0e7eb;
}

/* Prose Bright Theme
 -------------------- */
/* Dark Grey */
.cm-s-prose-bright                    { color:#3D494E; }
.cm-s-prose-bright span.cm-header     { color:#3D494E; font-weight:bold;}
.cm-s-prose-bright span.cm-variable-2 { color:#3D494E; }

/* Medium Grey */
.cm-s-prose-bright span.cm-meta       { color:#516066; }
.cm-s-prose-bright span.cm-hr         { color:#516066;}

/* Lighter Grey */
.cm-s-prose-bright span.cm-comment    { color:#868f93; }
.cm-s-prose-bright span.cm-qualifier  { color:#868f93; }

/* Dark Blue/Green */
.cm-s-prose-bright span.cm-number     { color:#197987; }
.cm-s-prose-bright span.cm-variable   { color:#197987; }
.cm-s-prose-bright span.cm-builtin    { color:#197987; }
.cm-s-prose-bright span.cm-link       { color:#197987; text-decoration:underline;}
.cm-s-prose-bright span.cm-tag        { color:#197987; }

/* Medium Blue/Green */
.cm-s-prose-bright span.cm-string     { color:#48abb9; }
.cm-s-prose-bright span.cm-string-2   { color:#48abb9; }
.cm-s-prose-bright span.cm-quote      { color:#48abb9;}
.cm-s-prose-bright span.cm-atom       { color:#48abb9; }

/* Light Blue/Green */
/*.cm-s-prose-bright .CodeMirror-selected { background:#90d5df; }*/

/* Turtle Green */
.cm-s-prose-bright span.cm-property   { color:#82a367; }
.cm-s-prose-bright span.cm-operator   { color:#82a367; }
.cm-s-prose-bright span.cm-variable-3 { color:#82a367; }

/* Light Turtle Green */
.cm-s-prose-bright span.cm-attribute  { color:#90bb74; }
.cm-s-prose-bright span.cm-def        { color:#90bb74; }

/* Brick */
.cm-s-prose-bright span.cm-keyword    { color:#ec6c45; }
.cm-s-prose-bright span.cm-bracket    { color:#ec6c45; }

/* Darker Brick */
.cm-s-prose-bright span.cm-error      { color:#e45346; }

.cm-s-prose-bright span.cm-em         { font-style:italic; }
.cm-s-prose-bright span.cm-strong     { font-weight:bold; }

.CodeMirror {
  color: #516066;
}
