/* ------------------------------------------
  Typography
---------------------------------------------*/
html,body {
  color: #7A8387;
  background: #e7eef2;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5em;
  }

body,
textarea,
input { font: 13px/20px 'OpenSans', sans-serif; }

a {
  color: #526066;
  text-decoration: none;
  -moz-transition: background 100ms linear, color 100ms linear;
  -o-transition: background 100ms linear, color 100ms linear;
  -webkit-transition: background 100ms linear, color 100ms linear;
  transition: background 100ms linear, color 100ms linear;
  }
a:hover {
  color: #3d4548;
  }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  }

p > a {font-weight: bold;}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: 1.5em;
  }
h4, h5, h6 {
  }

h1 { font-size: 24px; }
h1 small { font-size: 13px; font-weight: normal; }
h2 { 
  font-weight: normal;
  font-size: 16px;
  padding: 5px 0 5px 30px;
  }
h2 small { font-size: 16px; font-weight: normal; }
h3 { 
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  }

h3 small { font-size: 14px; font-weight: normal; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; font-weight: normal; }

p {
  font-size: 16px;
  line-height: 1.5em;
	margin-bottom: 0px; 
	margin-top: 10px;
  }
/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }

/* ------------------------------------------
  Globals
---------------------------------------------*/

/* Top Branding/Navigation */
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  height: 60px;
  background: #e0e7eb;
  border-bottom: 1px solid #c3ccd0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  overflow: visible;
  }

body.post #header {
  box-shadow: none;
  border-bottom: none;
  }

#header a.title {
  position: absolute;
  width: 40px;
  background: url('images/sprite.png') 9px -169px no-repeat;
  left: 0px;
  top: 11px;
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }
  #header a.title:hover {
	background-color: #c9d1d6; 
  }
#header a.title span {
  display: none;
  }

#header .navigation {
  width: 960px;
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  padding: 15px 0;
  overflow: visible;
  }

#header .navigation > * {
  display: block;
  position: relative;
  padding-right: 5px;
  padding-left: 20px;
  margin-right: 30px;
  float: left;
  }

#header .navigation a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

#header .navigation .root {
  margin-left: 100px;
  background-image:url('images/sprite.png');
  background-position: 6px -240px;
  background-repeat: no-repeat;
  }
  #header .navigation div.root {
	  background-position-y: -650px;
    }
    
#header .navigation .repo {
  background-image:url('images/sprite.png');
  background-position: 4px -340px;
  background-repeat: no-repeat;
  }
  #header .navigation div.repo {
	  background-position-y: -750px;
    }

#header .navigation .path {
  background-image:url('images/sprite.png');
  background-position: 4px -340px;
  background-repeat: no-repeat;
  }
  #header .navigation div.path {
	  background-position-y: -750px;
    }


#header .navigation .file {
  background-image:url('images/sprite.png');
  background-position: 3px -440px;
  background-repeat: no-repeat;
  }
  #header .navigation div.file {
	  background-position-y: -850px;
    }

#header .navigation .file::before, #header .navigation .repo::before, #header .navigation .path::before {
  content:"";
  background-image:url('images/sprite.png');
  background-position: -289px -390px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: -30px;
  top: 0px;
  width: 30px;
  height: 30px;
  }

#header .user-status {
  position: absolute;

  top: 0px;
  right: 0px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
   }

#header .user-status.logged-out {
  line-height: 60px;
}

#header .user-status.logged-out a {
  padding: 10px;
}

#header .user-status.logged-out a:hover {
  background: #ccc;
}


#header .user-status img {
  float: left;
  margin-right: 10px;
  margin-top: 15px;
  border: 1px solid #C3CCD0;
  }

#header .user-status .logout {
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  text-indent: -3000px;
  overflow: hidden;
  background-image: url('images/sprite.png');
  background-position: -441px -41px;
  background-repeat: no-repeat;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }
  #header .user-status .logout:hover {
    background-color: #c9d1d6; 
    }
 
#main {
  padding-top: 60px;
  overflow:auto;
  padding-bottom: 60px; /* must be same height as the footer */
  }

#post .inner  {
  position: relative;
  }

/* ------------------------------------------
  Footer - a sticky one
---------------------------------------------*/


/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

#container { 
  min-height: 100%;
  min-width: 960px;
  }

#footer {
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  overflow: hidden;
  line-height: 60px;
  background: #e0e7eb;
  border-top: 1px solid #c3ccd0;
  clear:both;
  }

#footer .footer-content {
  width: 960px;
  margin: 0 auto;
  font-size: 15px;
  }

#footer a.help, #footer a.about{ 
  margin-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  background-image: url('images/sprite.png');
  }
  a.about { background-position: 0 -959px; }
  a.help { background-position: 0 -1049px; }

#footer .footer-content p {
  margin: 16px 0;
  }
  
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
  }


/* ------------------------------------------
  Startpage
---------------------------------------------*/

#start .dialog {
  position: relative;
  }

#start .splash {
  text-align: center;
  background: white;
  font-weight: normal;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  position: relative;
  margin: 40px auto 0 auto;
  color: #7A8387;
  width: 340px;
  border: 1px solid #C3CCD0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  }

#start .splash h2 {
  background: url('images/sprite.png') 111px 47px no-repeat;
  text-indent: -3000px;
  overflow: hidden;
  display: block;
  height: 200px;
  }

#start .splash p {
  margin-bottom: 20px;	
  }

.authorize {
  border-top: 1px solid #C3CCD0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 20px ;
  }

.authorize p {
  margin-top: 0; 
  margin-bottom: 20px;
  }
  
.authorize a.button {
  display: block;
  background: #516066;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family:'OpenSans', sans-serif; 
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  }
  .authorize a.button:hover { background: #3d4548; }

/* ------------------------------------------
  Repos listing
---------------------------------------------*/

body.start {
  }

#start .owner {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  width: 200px;
  background: url('images/sprite.png') 0px -545px no-repeat;
  }

#start {
  padding-bottom: 20px;
  width: 960px;
  margin: 20px auto 0 auto;
  }

.repos {
  overflow: auto;
  padding: 0px 0 20px 0;
  }

.repos > a {
  font-family: 'OpenSans', sans-serif;
  overflow: hidden;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);

  background:url('images/sprite.png') -450px -640px no-repeat;
  background-color: #E0E7EB;
  
  -moz-border-radius: 3px 3px 0px 3px;
  -webkit-border-radius: 3px 3px 0px 3px;
  border-radius: 3px 3px 0px 3px;

  text-align: center;
  padding: 10px;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
  width: 140px;
  height: 180px;
  color: #444;
  display: block;
  float: left;
  }

.repos > a:hover {
  background-color: #f0f5f7;
  }

.repos > a .name {
  display: block;
  position: relative;
  top: 40%;
  margin: auto;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  color: #526066;
  }

.repos > a:hover .name {
  color: #526066;
  }

.repos a .branches {
  position: absolute;
  background:url('images/sprite.png') -450px -640px no-repeat;
  background-color: #f0f5f7;
  -moz-border-radius: 3px 3px 0px 3px;
  -webkit-border-radius: 3px 3px 0px 3px;
  border-radius: 3px 3px 0px 3px;
  font-size: 12px;
  text-align: left;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding: 10px;
  overflow: auto;
  border-radius: 3px;
  }

.repos a .branches .label {
  line-height: 27px;
  padding: 0 5px;
  }

.repos a .branches .not-jekyll {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: #C52528;
  text-align: center;
  padding-top: 80px;
  padding-top: 45px;
  margin: auto;
  overflow: hidden;
  word-wrap: break-word;
  }

  
.repos a .branches .branch {
  padding: 2px 5px;
  text-align: center;
  }

.repos a .branches a.branch {
  display: block;
  color: #555;
  }

.loading-branches, .post-listing a.link.folder.loading .filename  {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  background: url('images/ajax-loader.gif') no-repeat;
  height: 40px;
  width: 44px;
  }
  .loading-branches, .post-listing a.link.folder.loading {
	  background-color: #F0F5F7;
  }

.repos a .branches a.branch:hover  {
  /*color: #eee;*/
  background: #E0E7EB;
  }

.start .sites,
.dialog form {
  width: 240px;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  }

ul.site li {
  position: relative;
  }

ul.site li a {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 4px 0;
  }
  ul.site li a:hover {
    background: url(images/icons.png) no-repeat 220px -20px;
    }

/* User box */
#user {
  font-size:12px;
  position:absolute;
  top:0;
  right:0;
  z-index:2;
  padding:5px;
  background:#eee;
  border-radius:0 0 0 5px;
  box-shadow:
  inset #ccc 0px 1px,
  inset #ddd 0px 0px 5px,
  #fff 0px 1px,
  #f8f8f8 0px 3px 3px;
  }
  #user img {
    border-radius:2px;
    width:30px;
    height:30px;
    vertical-align:middle;
    }
  #user .name,
  #user .logout {
    display:inline;
    padding:0 5px;
    }
  #user a { color:#222; }
  #user .logout a { color:#999; }

/* Form hint */
#hint {
  position: absolute;
  top: -30px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  }


/* ------------------------------------------
  New post
---------------------------------------------*/

.step {
  background: white;
  padding: 20px 20px 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 318px;
  margin: 40px auto 0;
  border: 1px solid #CCC;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  }
  .step form {
    width: 240px;
    margin: 0 auto;
    }

/* ------------------------------------------
  Posts
---------------------------------------------*/

#posts {
  padding: 30px 0;
  width: 960px;
  margin: 0 auto;
  }


#publish_status {
  position: relative;
  height: 50px;
  }
  #publish_status.active {
    background: #fff;
    border: 1px solid #a0a0a0;
    }

.post-listing a.link {
  background:url('images/sprite.png') -450px -400px no-repeat;
  background-color: #F2F6F8;
  float: left;
  width: 140px;
  min-height: 180px;
  margin: 0 20px 20px 0;
  padding: 10px;
  position: relative;
  color: #404040;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px 40px 3px 3px;
  }
  .post-listing a.link:hover { 
  background-color: white; 
  }

.post-listing a.link .filename {
  display: block;
  position: absolute;
  top: 40%;
  margin: auto;
  font-size: 12px;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  overflow: hidden;
  word-wrap: break-word;
  color: #526066;
  left: 0;
  right: 0;
  }
  .post-listing a.link.loading { background-color: white; }
  .post-listing a.link.loading .filename {
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    background: url('images/ajax-loader-white.gif') no-repeat;
    height: 40px;
    width: 44px;
    color: #444;
    }

.post-listing a.link:hover .filename {
  color: #526066;
  }

.post-listing a.link:hover {
  border-color: #a0a0a0;
  color: #404040;
  }

.post-listing a.link:active {
  border-color: #526066;
  }

.post-listing a.link.folder {
  background:url('images/sprite.png') -450px -150px no-repeat;
  background-color: #E0E7EB;
  border-radius: 3px;
  }
  .post-listing a.link.folder:hover { 
    background-color: #f0f5f7; 
    }

.post-listing a.link.new .button {
  background: #516066 url('images/sprite.png') -440px -90px no-repeat;
  text-indent: 10px;
  padding: 5px;
  color: white;
  position: absolute;
  width: 100px;
  margin: auto;
  top: 40%;
  left: 0;
  right: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  }
  .post-listing a.link.new:hover .button { background: #3d4548 url('images/sprite.png') -440px -90px no-repeat; }

/* ------------------------------------------
  Post
---------------------------------------------*/

.document-menu {
  padding: 0 20px;
  height: 60px;
  background: #667880;
  overflow: visible;
  line-height: 40px;

  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;

  z-index: 2000;
  }

#post.sticky-menu .document-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  }

#post.sticky-menu .document {
  margin-top: 60px;
  }

#post.published .document-menu {
  background: #90bb74;
  }

#post.published .metadata {
  background: #73965d;
  }

.document-menu .options {
  display: none;
  background: #667880;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  }

#post.published .document-menu .options {
  background: #90bb74;
  }

.document-menu-content {
  width: 960px;
  margin: 0 auto;
  color: #E7EEF2;
  font-weight: bold;
  position: relative;
  }

.document-menu-content .status {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 60px;
  background-image:url('images/sprite.png');
  background-position: -290px -185px;
  }

#post.published .document-menu-content .status {
  background-position: -290px -285px;
  }

.document-menu-content .menu-item {
  background: rgba(0,0,0, 0.2);
  line-height: 40px;
  margin: 10px 0;
  }

.document-menu-content .menu-item state {
  background: none;
  }

.document-menu-content .menu-item.preview, .document-menu-content .menu-item.cheatsheet, .document-menu-content .menu-item.compose {
  text-indent: -9999px;
  overflow: hidden;
  background-image:url('images/sprite.png');
  background-repeat: no-repeat;
  width: 40px;
  padding: 0;
  margin-left: 1px;
  border-radius: 0;
  }
  .document-menu-content .menu-item.cheatsheet { 
    background-position: -290px -486px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    }
  .document-menu-content .menu-item.preview { 
    background-position: -438px 15px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    }
  .document-menu-content .menu-item.compose { 
    background-position: -288px -538px;
    }
  
.document-menu-content .menu-item.preview.active, .document-menu-content .menu-item.cheatsheet.active, .document-menu-content .menu-item.compose.active {
  background-color: rgba(0,0,0, 0.6);
  }

.document-menu-content .menu-item.meta {
  background-image:url('images/sprite.png');
  background-position: -288px 14px;
  padding-left: 35px;
  padding-right: 10px;
  }

.document-menu-content .menu-item.meta.active {
  background-color: rgba(0,0,0, 0.6);
  }

.document-menu-content a {
  color: #E7EEF2;
  }
  .document-menu-content a:active {
	  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
    }

.menu-item {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.menu-item:hover {
  background: rgba(0,0,0, 0.3);
  }

.document-menu-content .menu-item.meta {
  margin-left: 20px;
  }

.document-menu-content .filename input {
  font-family: Menlo, monospace;
  background: transparent;
  border: none;
  height: 40px;
  font-size: 16px;
  color: #555;
  color: #e7eef2;
  width: 400px;
  padding: 0 5px;
  margin: 10px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.document-menu-content .filename .state {
  position: absolute;
  left: 420px;
  top: 15px;
  width: 50px;
  height: 30px;
  }

.document-menu-content .filename .state.loading {
  background: url('images/ajax-loader.gif') center center no-repeat;
  }

.document-menu-content .filename .state.error {
  background-image:url('images/sprite.png');
  background-position: -300px -200px;
  }

.document-menu-content .filename .state.success {
  background-image:url('images/sprite.png');
  background-position: -300px -300px;
  }

.document-menu-content .filename input:hover, .document-menu-content .filename input:focus {
  background-color: rgba(0,0,0, 0.2);
  color: #e7eef2;
  }

.document-menu .options {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 200px;
  z-index: 3000;
  border-radius: 0 0 5px 5px;
  }


.document-menu .options .publish-state {
  padding: 0 20px;
  }

.document-menu .options .actions {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 0 0 5px 5px;
  }

.document-menu .options .actions .button {
  display: block;
  text-align: center;
  background: rgba(0,0,0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.document-menu .options .actions .button:hover {
  background: rgba(0,0,0, 0.4);
  }

.document-menu-content .menu-item.save-state {
	background: none;
  }
  .document-menu-content .menu-item.save-state:hover {
  background: none;
  }

.document-menu-content .state .button.save { 
  background: rgba(0,0,0, 0.2); 
  width: 100px; 
  text-align: center;
  line-height: 40px;
  margin-left: 1px;
  margin: 0px;
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  margin-left: 1px;
  }
  .document-menu-content .state .button.save:hover { background: rgba(0,0,0, 0.4); }

.document-menu-content .save-state {
  margin-left: 20px;
  }
  .document-menu-content .save-state:hover {
    background: rgba(0,0,0, 0.2);
    }

.document-menu-content .state .button {
  display: block;
  float:left;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 5px;
  line-height: 30px;
  height: 30px;
  padding: 0 12px;
  }

.document-menu-content .state .button.toggle-options {
  background-image: url('images/sprite.png');
  background-position: -288px -437px;
  width: 50px;
  padding: 0;
  height: 40px;
  margin: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0, 0, 0, .2);
  }

.document-menu-content .state .button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  }

.document-menu-content .state .button.inactive, .document-menu-content .state .button.inactive:hover {
  text-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  }

.document-menu-content .state .button.error, .document-menu-content .state .button.error:hover {
  background: #DB6F6F;
  }
  .document-menu-content .state .button.saving {
	  text-indent: -9999px;
	  overflow: hidden;
	  background-image: url('images/ajax-loader-unpublished.gif');
	  background-repeat: no-repeat;
	  background-position: 25px 13px;
	  }
	  .published .document-menu-content .state .button.saving {
  	  text-indent: -9999px;
	    overflow: hidden;
	    background-image: url('images/ajax-loader-published.gif');
	    background-repeat: no-repeat;
	    background-position: 25px 13px;
	    }

.document-menu-content .state .options {
  background: rgba(0,0,0, 0.3);
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  }

.document .metadata {
  overflow: hidden;
  background: #526066;
  color: #CCC;
  z-index: 1000;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  }

.document .metadata-content .CodeMirror {
  color: #F0F0F0;
  }

.document .metadata-content {
  padding: 20px 0px;
  width: 960px;
  margin: 0 auto;
  }

.document .metadata #raw_metadata {
  background: #444;
  color: #eee;
  }

.state p,
.state .button-padding {
  float: left;
  }
  .state p {
    color: #526066;
    font-weight: normal;
    font-size: 11px;
    line-height: 35px;
    margin: 0;
    }

.document {
  min-height: 400px;
  position: relative;
  overflow:hidden;
  }

.document .surface {
  width: 300%;
  -moz-transition: margin-left 300ms linear;
  -o-transition: margin-left 300ms linear;
  -webkit-transition: margin-left 300ms linear;
  transition: margin-left 300ms linear;
  margin-left: -100%;
  overflow: hidden;
  }

.document .surface.preview {
  margin-left: -200%;
  }

.document .surface.cheatsheet {
  margin-left: 0%;
  }

.document .cheatsheet-wrapper {
  padding-top: 20px;
  width: 33.33%;
  float: left;
  position: relative;
  }

.document .content-wrapper {
  padding-top: 20px;
  width: 33.33%;
  float: left;
  position: relative;
  }

.document .content-preview-wrapper {
  position: relative;
  padding-top: 20px;
  width: 33.33%;
  float: left;
  word-wrap: break-word;
  }

.document .content-preview, .document .content {
  padding: 20px 0px;
  width: 960px;
  margin: 0 auto;
  }

.document .cheatsheet-wrapper .content {
  width: 960px;

  margin: 0 auto;
  overflow: auto;
  }

.document .cheatsheet-wrapper .content .left {
  float: left;
  width: 450px;
  }

.document .cheatsheet-wrapper .content .right {
  float: right;
  width: 450px;
  }

.document .cheatsheet-wrapper .content h2 {
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
}

.document .cheatsheet-wrapper .content pre {
  border: 1px solid #C3CCD0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  line-height: 1.5em;
  font-size: 17px;
  padding: 10px;
  font-family: Menlo, monospace !important;
}


/* ------------------------------------------
  Rendered Markdown
---------------------------------------------*/

.post-content {
  background: #fff;
  padding: 100px;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  border: 1px solid #C3CCD0;
  font-size: 16px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  }

.post-content * {
	line-height: 1.2em;
  }

.post-content p, .post-content ul, .post-content ol,  .post-content li {
	line-height: 1.5em;
  }

.post-content .title { 
  font-size: 36px; 
  margin-bottom: 10px; 
  font-weight: bold;
  border-bottom: 1px solid #C3CCD0;
  padding-bottom: 10px;
  }

.post-content h1 { font-size: 36px; margin: 10px 0 20px 0; }
.post-content h2 { font-size: 24px; margin: 10px 0 20px 0; font-weight: bold; padding: 0; }
.post-content h3, .post-content h4, .post-content h5, .post-content h6 { 
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  }
  
.post-content blockquote {
	padding-left: 19px;
  border-left: 1px solid #C3CCD0;
  font-style: italic;
  margin-bottom: 20px;
  }

.post-content ul {
  margin-left: 0px;
  padding-left: 20px;
  list-style: disc;
  }

.post-content ol {
  margin-left: 0px;
  padding-left: 20px;
  list-style: decimal;
  }

.post-content img {
  max-width: 100%;
  }

.post-content .meta {
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 1px solid #C3CCD0;
  }

.post-content a {
  border-bottom: 1px dashed #C3CCD0;
  font-weight: normal;
  }

.post-content p {
  margin-bottom: 20px;
  }

.post-content p:last-child {
  margin-bottom: 20px;
  }
  
.post-content code {
  font-family: Menlo, monospace;
  padding: 4px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #C3CCD0;
  }

.post-content pre {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #C3CCD0;
  }

.post-content pre code {
  border: none;
  }

.post-content hr {
  margin: 5px 0 4px 0;
  border-top: 1px solid #C3CCD0;
  border-bottom: 0;
  border-radius: 5px;
  }

/* ------------------------------------------
  About
---------------------------------------------*/

#container .about {
  width: 960px;
  margin: 30px auto;
  background: white;
  }

/* ------------------------------------------
  Logbook
---------------------------------------------*/

.help {
  width: 960px;
  margin: 20px auto;
  }

.help h2 {
  background: url('images/sprite.png') -110px -1042px no-repeat;
  }
  .help.post-content h2 { background: none;}
  
.help .articles {
  overflow: auto;
  }

.help .articles .article {
  border-radius: 4px;
  border: #c3ccd0 1px solid;
  overflow: hidden;
  background-color: #F2F6F8;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);

  font-size: 16px;
  position: relative;
  margin: 20px 20px 0px 0;
  width: 220px;
  height: 250px;
  color: #444;
  display: block;
  float: left;
  padding: 10px;
  }
  .help .articles .article:hover {
    background-color: white;
    }

.help .articles .article .title {
  padding: 5px 0;
  }

.help .articles .article p {
  font-size: 12px;
  font-weight: normal;
  }

.help .articles .article img {
	border: #c3ccd0 1px solid;
  }

.help-article {
  width: 960px;
  margin: 30px auto;
  }

/* ------------------------------------------
  Notifications
---------------------------------------------*/

#notification .notification{
  text-align: center;
  width: 440px;
  margin: 60px auto 0 auto;
  padding: 20px;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: bold;
  }

#notification a {
	background: #516066;
  padding: 5px;
  color: white;
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  margin: 0px auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  }
  #notification a:hover { background: #3d4548; }

ul.form li {
  position: relative;
  }

label.error {
  color: #E73C58;
  position: absolute;
  right: 5px;
  top: 23px;
  font-size: 12px;
  }

/* ------------------------------------------
  Class Helpers
---------------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

.icon {
  background: transparent url(images/icons.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
  }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }

.inner      { padding: 0px 0px 40px; }
.hidden     { display: none; }
.centered   { text-align: center; }
.scrolling  { overflow: auto; }
.clipping   { overflow: hidden; }

/* ------------------------------------------
  ios and small screen alterations
---------------------------------------------*/
 @media all and (max-width: 480px) {
  #post .inner {
    width: 100%;
    margin: 0;
    padding: 20px 0 40px;
    }
  .toggle-mode {
    right: 0;
    }
  }
