/* ------------------------------------------
  Typography
---------------------------------------------*/
body {
  color: #404040;
  background: #f0f0f0;
  }

body,
textarea,
input { font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a {
  color: #377a97;
  text-decoration: none;
  }
a:hover {
  color: #204859;
  }
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  text-rendering: optimizelegibility;
  }
h4, h5, h6 {
  line-height: 18px;
  }

h1 { font-size: 24px; line-height: 32px; }
h1 small { font-size: 13px; font-weight: 500; }
h2 { font-size: 24px; line-height: 28px; }
h2 small { font-size: 16px; }
h3 { line-height: 22px; font-size: 16px; font-weight: 500; }
h3 small { font-size: 14px; font-weight: normal; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; font-weight: 500; }


/* ------------------------------------------
  Globals
---------------------------------------------*/

/* Top Branding/Navigation */
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  height: 60px;
  }
  #header a.title, #start a.title {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Palatino Linotype';
    color: #000;
    width: 160px;
    height: 40px;
    float: left;
    margin-top: 10px;
    }
  #header .navigation {
    overflow: auto;
    font-size: 18px;
    line-height: 61px;
    }
  #header .navigation div {
    /*margin-top: 15px;*/
    float: left;
    }
  #header .user-status {
    position: absolute;
    top: 15px;
    right: 20px;
    }
#main {
  margin-top: 60px;
  }

#post .inner  {
  position: relative;
  }

/*Dropdowns*/
li.dropdown {
  position: relative;
  margin-left: 5px;
  }

a.dropdown-toggle {
  background: #fff url(images/icons.png) no-repeat 95% 6px;
  line-height: 20px;
  padding: 4px 25px 4px 10px;
  font-weight: 500;
  color: #666;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  }
  .open a.dropdown-toggle {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    }

/* ------------------------------------------
  Startpage
---------------------------------------------*/

.dialog {
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  top: 30%;
  color: #a0a0a0;
}

.dialog form {
  background: #fff;
}

.dialog .bad-credentials {
  display: none;
  color: #5B0707;
}

.dialog select,
.dialog input[type=text],
.dialog input[type=password],

.step select,
.step input[type=text],
.step input[type=password] {
  width: 240px;
  margin-bottom: 5px;
}
form .button-padding {
  margin-left: -4px;
  margin-top: 5px;
}



/* ------------------------------------------
  Repos listing
---------------------------------------------*/

body.start {
  
}

.repos {
  overflow: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.repos > a {
  overflow: hidden;
  background: #fff;

  -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.50);
  box-shadow:         0px 1px 4px rgba(0,0,0,0.50);

  text-align: center;
  padding: 10px;
  font-size: 16px;
  position: relative;
  margin-left: 15px;
  margin-top: 15px;
  width: 150px;
  height: 150px;
  color: #444;
  display: block;
  float: left;
}

.repos > a:hover {
  /*background: #262626;*/
}

.repos > a .name {
  margin-top: 30px;
}

.repos a .branches {
  position: absolute;
  background: #fff;
  font-size: 14px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: auto;
}

.repos a .branches .label {
  line-height: 27px;
  background: #eee;
  color: #eee;
  padding: 0 5px;
}

.repos a .branches .not-jekyll {
  background: #C52528;
  color: white;
  padding: 75px 5px;
  overflow: hidden;
}

  
.repos a .branches .branch {
  color: #fff;
  padding: 2px 5px;
  border-bottom: 1px solid #000;
}

.repos a .branches .branch a {
  color: #eee;
  border: none;
}

.start .sites,
.dialog form {
  width: 240px;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  }

ul.site li {
  position: relative;
  }

ul.site li a {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 4px 0;
  }
  ul.site li a:hover {
    background: url(images/icons.png) no-repeat 220px -20px;
    }

/* User box */
#user {
  font-size:12px;
  position:absolute;
  top:0;
  right:0;
  z-index:2;
  padding:5px;
  background:#eee;
  border-radius:0 0 0 5px;
  box-shadow:
  inset #ccc 0px 1px,
  inset #ddd 0px 0px 5px,
  #fff 0px 1px,
  #f8f8f8 0px 3px 3px;
  }
  #user img {
    border-radius:2px;
    width:30px;
    height:30px;
    vertical-align:middle;
    }
  #user .name,
  #user .logout {
    display:inline;
    padding:0 5px;
    }
  #user a { color:#222; }
  #user .logout a { color:#999; }

/* Form hint */
#hint {
  position: absolute;
  top: -30px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  }


/* ------------------------------------------
  New post
---------------------------------------------*/

.step {
  background: white;
  padding: 20px 20px 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 318px;
  margin: 40px auto 0;
  border: 1px solid #CCC;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  }
  .step form {
    width: 240px;
    margin: 0 auto;
    }

/* ------------------------------------------
  Posts
---------------------------------------------*/

#posts {
  padding: 20px;
}

#publish_status {
  position: relative;
  height: 50px;
  }
  #publish_status.active {
    background: #fff;
    border: 1px solid #a0a0a0;
    }

.post-listing a.link {
  background: white;
  border: 1px solid #CCC;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  padding: 10px;
  float: left;
  height: 120px;
  width: 218px;
  margin: 0 5px 5px 0;
  position: relative;
  color: #404040;
  }
  .post-listing a.link:hover {
    border-color: #a0a0a0;
    color: #404040;
    }
  .post-listing a.link:active {
    border-color: #666;
    }

.post-listing a.link.folder {
  background: #ccc;
}

.published-on {
  background: #fff url(images/icons.png) no-repeat right -50px;
  width: 95px;
  padding-right: 25px;
  display: block;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  overflow: hidden;
  color: #666;
  font-size: 11px;
  }

/* ------------------------------------------
  Post
---------------------------------------------*/


.document-menu {
  padding: 0 20px;
  height: 60px;
  background: #4d4d4d;
  overflow: auto;
  line-height: 40px;
}

.document-menu-content {
  width: 900px;
  overflow:auto;
  margin: 0 auto;
}

.document-menu-content .menu-item {
  background: #444;
  line-height: 40px;
  padding: 0 5px;
  margin: 10px 0;
}

.document-menu-content .filename input {
  background: transparent;
  border: none;
  height: 40px;
  padding: 0;
  margin: 10px 0;
  margin-left: 20px;
}

.document-menu-content .filename input:hover, .document-menu-content .filename input:focus {
  background: #444;
}

.document-menu-content .state {
  background: blue;
}

.document .metadata {
  overflow: hidden;
  background: #292929;
  color: white;
  z-index: 1000;
  -moz-transition: height 100ms linear;
  -o-transition: height 100ms linear;
  -webkit-transition: height 100ms linear;
  transition: height 100ms linear;
  /*height: 0px;*/
  }

.document .metadata.open {
  /*height: 400px;*/
}

.document .metadata-content {
  padding: 20px 0px;
  width: 900px;
  margin: 0 auto;
}
.document .metadata #raw_metadata {
  height: 300px;
  background: #444;
  color: #eee;
  }


.state p,
.state .button-padding {
  float: left;
  }
  .state p {
    color: #666;
    font-weight: 500;
    font-size: 11px;
    line-height: 35px;
    margin: 0;
    }

.document {
  min-height: 400px;
  position: relative;
  }
  .document .content-preview,
  .document .content {
    padding: 20px 0px;
    width: 900px;
    margin: 0 auto;
    }



/* ------------------------------------------
  Notifications
---------------------------------------------*/
#notification .notification{
  text-align: center;
  width: 300px;
  margin: 200px auto;
  padding: 30px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.95);
  line-height: 34px;
  font-weight: 500;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
  }

#notification .error {
  background: #E73C58;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  }
ul.form li {
  position: relative;
  }
label.error {
  color: #E73C58;
  position: absolute;
  right: 5px;
  top: 23px;
  font-size: 12px;
  }

/* ------------------------------------------
  Class Helpers
---------------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

.icon {
  background: transparent url(images/icons.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
  }
.fl { float: left; }
.fr { float: right; }

.inner      { padding: 0px 0px 40px; }
.hidden     { display: none; }
.centered   { text-align: center; }
.scrolling  { overflow: auto; }
.clipping   { overflow: hidden; }


/* ------------------------------------------
  ios and small screen alterations
---------------------------------------------*/
 @media all and (max-width: 480px) {
  #post .inner {
    width: 100%;
    margin: 0;
    padding: 20px 0 40px;
    }
  .toggle-mode {
    right: 0;
    }
  }
