/* ------------------------------------------
  Typography / Basics
---------------------------------------------*/
html,body {
  color: #57676e;
  background: #e7eef2;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5em;
  }

body,
textarea,
input { font: 13px/20px 'OpenSans', sans-serif; }

a {
  color: #434c50;
  text-decoration: none;
  -moz-transition: background-color 100ms linear, color 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear;
  -webkit-transition: background-color 100ms linear, color 100ms linear;
  transition: background-color 100ms linear, color 100ms linear;
  }
a:hover {
  color: #2e3335;
  }

a:focus {
  outline: none;
  }

a:active {
  outline: none;
  }

p > a {font-weight: 700;}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: 1.5em;
  }
h4, h5, h6 {
  }

h1 { font-size: 24px; }
h1 small { font-size: 13px; font-weight: 400; }
h2 { 
  font-weight: 400;
  font-size: 16px;
  padding: 5px 0 5px 30px;
  }
h2 small { font-size: 16px; font-weight: 400; }
h3 { 
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  }

h3 small { font-size: 14px; font-weight: 400; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; font-weight: 400; }

p {
  font-size: 16px;
  line-height: 1.5em;
	margin-bottom: 0px; 
	margin-top: 10px;
  }
/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }

/* ------------------------------------------
  Globals
---------------------------------------------*/

/* Top Branding/Navigation */
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  height: 60px;
  background: #e0e7eb;
  border-bottom: 1px solid #c3ccd0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  overflow: visible;
  }

body.post #header {
  box-shadow: none;
  border-bottom: none;
  }

#header .navigation a.title {
  position: relative;
  width: 80px;
  background: url('images/sprite.png') 22px -154px no-repeat;
  height: 100%;
  margin: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  }

#header a.title span {
  display: none;
  }

#header .navigation {
  width: 960px;
  margin: 0 auto;
  position: relative;
  line-height: 60px;
  overflow: visible;
  font-size: 12px;
  font-weight: 700;
  height: 60px;
  text-indent: 20px;
  }


#header .navigation .browse-files {
  float: right;
  margin-left: 100px;
}


#header .navigation > a {
  display: block;
  position: relative;
  padding: 0 20px 0 20px;
  margin: 0px;
  float: left;
  /*font-weight: normal;*/
  text-indent: 0px;
  }

#header .navigation a.user, #header .navigation a.repo {
  font-size: 16px;
}

#header .navigation a:hover {
  background-color: #c9d1d6;
  }

#header .user-status {
  overflow: auto;
  float: right;
  padding: 0;
  min-width: 120px;
  text-align: right;
  text-indent: -40px;
  }

#header .user-status.logged-out a.button {
  text-indent: 0;
  padding: 0 10px;
  display: block;
  }

#header .user-status .logout {
  display: block;
  float: right;
  width: 30px;
  text-indent: 3000px;
  margin-left: 10px;
  overflow: hidden;
  background-image: url('images/sprite.png');
  background-position: -441px -25px;
  background-repeat: no-repeat;
  }
 
#main {
  padding-top: 60px;
  overflow:auto;
  min-height: 400px;
  padding-bottom: 60px; /* must be same height as the footer */
  }

#main .loading {
  margin: 150px auto;
  width: 50px;
  font-size: 20px;
  text-align: center;
  height: 11px;
  background: url('images/ajax-loader.gif') no-repeat;
  }

#main .loading span {
  display: none;
}

#post .inner {
  position: relative;
  }

/* ------------------------------------------
  Footer - a sticky one
---------------------------------------------*/


/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

#container { 
  min-height: 100%;
  min-width: 960px;
  }

#footer {
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  overflow: hidden;
  line-height: 60px;
  background: #e0e7eb;
  border-top: 1px solid #c3ccd0;
  clear:both;
  }

#footer .footer-content {
  width: 960px;
  margin: 0 auto;
  font-size: 15px;
  }



#footer a, #footer .brand { 
  font-size: 12px;
  font-weight: bold;
  font-weight: 700;
  }

#footer a {
  margin-right: 20px;
  padding-left: 20px;
}

  a.about, a.help { background-image: url('images/sprite.png'); }
  a.about { background-position: 0 -959px; }
  a.help { background-position: 0 -1049px; }

#footer .footer-content p {
  margin: 16px 0;
  }
  
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
  }


/* ------------------------------------------
  Startpage
---------------------------------------------*/

#start .dialog {
  position: relative;
  }

#start h1 {
  padding: 20px 0;
}

#start .organizations {
  overflow: auto;
  margin-bottom: 30px;
}

#start .organizations .organization {
  display: block;
  float: left;
  height: 60px;
  padding: 4px;
  width: 60px;
  margin-right: 20px;
  border: 1px solid #C3CCD0;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#start .organizations .organization img {
  padding: 0;
  margin: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 50px;
  width: 50px;
}

#start .splash {
  text-align: center;
  background: white;
  font-weight: 400;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  margin: 40px auto 0 auto;
  width: 340px;
  border: 1px solid #C3CCD0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  }

#start .splash h2 {
  background: url('images/sprite.png') 111px 47px no-repeat;
  text-indent: -3000px;
  overflow: hidden;
  display: block;
  height: 200px;
  }

#start .splash p {
  margin-bottom: 20px;	
  }

.authorize {
  border-top: 1px solid #C3CCD0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 20px ;
  }

.authorize p {
  margin-top: 0; 
  margin-bottom: 20px;
  }
  
.authorize a.button {
  display: block;
  background: #516066;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family:'OpenSans', sans-serif; 
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  }
  .authorize a.button:hover { background: #3d4548; }

/* ------------------------------------------
  Profile
---------------------------------------------*/

#profile_wrapper {
  overflow: auto;
  padding: 20px 0;
  border-bottom: 1px solid #C3CCD0;
}

#start .profile-header {
  overflow: auto;
}

#start .profile-header .avatar {
  height: 90px;
  width: 90px;
  padding: 4px;
  border: 1px solid #C3CCD0;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
}

#start .profile-header .user {
  margin-top: 25px;
  margin-left: 30px;
  float: left;
}

#start .profile-header .user .username {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

#start .profile-header, #start .profile-details {

  font-size: 14px;
}

#start .profile-header {
  float: left;
}

#start .profile-details {
  float: right;
  margin-top: 50px;
  margin-left: 100px;
  overflow: auto;
}

#start .profile-details .info {
  float: left;
}

#start .profile-details .info span {
  color: #93A8B1;
}

#start .profile-details .stats {
  float: right;
  margin-top: 5px;
  margin-left: 70px;
}

#start .profile-details .stats .count {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#start .profile-details .stats .label {
  text-align: center;
  color: #777;
}

/* ------------------------------------------
  Repos listing
---------------------------------------------*/

body.start {
  }

#start {
  padding-bottom: 20px;
  width: 960px;
  margin: 20px auto 0 auto;
  }

#start .owner {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  background: #E0E7EB; 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px
  }

#start .owner::before {
  content: "";
  background: url('images/sprite.png') 0px -550px no-repeat;
  height: 30px;
  width: 30px;
  float: left;
  display: block;
  position: relative;
  }
#start .owner .repo-count {
	display: block;
	float: right;
  }

.repos {
  overflow: auto;
  padding: 0px 0 20px 0;
  }

.repos > a {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 140px;
  height: 180px;
  margin: 0 20px 20px 0;
  
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);

  background:url('images/sprite.png') -450px -640px no-repeat;
  background-color: #E0E7EB;
  
  -moz-border-radius: 3px 3px 0px 3px;
  -webkit-border-radius: 3px 3px 0px 3px;
  border-radius: 3px 3px 0px 3px;
  }

.repos > a:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  }

.repos > a:hover {
  background-color: #f0f5f7;
  }

.repos > a .name {
  display: inline-block;
  vertical-align: middle;
  width: 116px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  color: #526066;
  margin: 0 10px;
  }

.repos > a:hover .name {
  color: #526066;
  }


/* Post listing search bar */

.search-menu {
  overflow: auto;
  height: 60px;
  background: #ccc;
  font-size: 16px;
  line-height: 60px;
  padding-right: 20px;

  background: #E0E7EB;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.search-menu .parent-folder {
  display: block;
  float: left;
  background-image: url('images/sprite.png');
  background-position: -430px -25px;
  width: 50px;
}

.search-menu .parent-folder:hover {
  background-color: #C9D1D6;
}

.search-menu .actions {
  float: right;
  height: 60px;
}

.search-menu .actions a {
  padding: 6px 30px;
  line-height: 60px;
  font-weight: bold;
  background: #434C50;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  opacity: 0.8;
  margin-left: 20px;
}

.search-menu .actions a:hover {
  opacity: 1.0;
}

.search-menu input {
  border: none;
  margin-left: 20px;
  border-radius: 4px;
  background: rgba(0,0,0, 0.1);
  color: #666;
  padding: 8px 10px;
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
}

.search-menu .results {
  margin-left: 30px;
  float: left;
}

.search-menu .search {
  float: left;
}

.loading-branches, .post-listing a.link.folder.loading .filename  {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  background: url('images/ajax-loader.gif') no-repeat;
  height: 11px;
  width: 44px;
  }
  .loading-branches, .post-listing a.link.folder.loading {
	  background-color: #F0F5F7;
  }

.repos a .branches a.branch:hover  {
  background: #E0E7EB;
  }

.start .sites,
.dialog form {
  width: 240px;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  }

ul.site li {
  position: relative;
  }

ul.site li a {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 4px 0;
  }
  ul.site li a:hover {
    background: url(images/icons.png) no-repeat 220px -20px;
    }

/* User box */
#user {
  font-size:12px;
  position:absolute;
  top:0;
  right:0;
  z-index:2;
  padding:5px;
  background:#eee;
  border-radius:0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  box-shadow:
  inset #ccc 0px 1px,
  inset #ddd 0px 0px 5px,
  #fff 0px 1px,
  #f8f8f8 0px 3px 3px;
  }
  #user .name,
  #user .logout {
    display:inline;
    padding:0 5px;
    }
  #user a { color:#222; }
  #user .logout a { color:#999; }

/* Form hint */
#hint {
  position: absolute;
  top: -30px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  }


/* ------------------------------------------
  New post
---------------------------------------------*/

.step {
  background: white;
  padding: 20px 20px 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 318px;
  margin: 40px auto 0;
  border: 1px solid #CCC;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
  }
  .step form {
    width: 240px;
    margin: 0 auto;
    }

/* ------------------------------------------
  Posts
---------------------------------------------*/

/* Breadcrumbs */

#posts .breadcrumbs {
  overflow: visible;
  margin-bottom: 30px;
}

#posts .breadcrumbs a {
  font-weight: bold;
}

#posts .breadcrumbs .slash {
  color: #ccc;
  font-size: 20px;
}

#posts .breadcrumbs > * {
  display: block;
  position: relative;
  margin: 0 20px 0 0px;
  padding: 0px;
  float: left;
  text-indent: 0px;
}

#posts .breadcrumbs .switch-branch {
  margin-left: 5px;
}

#posts .breadcrumbs .branch-wrapper {
  position: relative;
}

#posts .breadcrumbs .branch-wrapper .branches {
  display: none;
  position: absolute;
  right: -100px;
  top: 30px;
  width: 200px;
  
  overflow-y: visible;
  background: #3D4548;
  z-index: 5000;
  max-height: 300px;
}

#posts .breadcrumbs .branch-wrapper .branches .inner {
  overflow: auto;
}

#posts .breadcrumbs .branch-wrapper .branches .arrow-up {
  position: absolute;
  top: -5px;
  left: 90px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #3D4548;
}

/*#header .navigation .branch-wrapper:hover .branches {
  display: block;
  
}*/

#posts .breadcrumbs .branch-wrapper .branches .select-branch {
  padding: 10px 0;
  text-align: center;
  display: block;
  color: #fff;
  opacity: 0.9;
}

#posts .breadcrumbs .branch-wrapper .branches .select-branch:hover {
  opacity: 1.0;
  background: rgba(0,0,0, 0.5);
}



#posts {
  padding: 30px 0;
  width: 960px;
  margin: 0 auto;
  }


#publish_status {
  position: relative;
  height: 50px;
  }
  #publish_status.active {
    background: #fff;
    border: 1px solid #a0a0a0;
    }

.post-listing a.link {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 180px;
  margin: 0 20px 20px 0;
  
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px 40px 3px 3px;
  
  background:url('images/sprite.png') -450px -400px no-repeat;
  background-color: #F2F6F8;
  }
  .post-listing a.link:hover { 
  background-color: white; 
  }

.post-listing a.link:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  }
  
.post-listing a.link .filename {
  display: inline-block;
  vertical-align: middle;
  width: 116px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  color: #526066;
  margin: 0 10px;
  }
  .post-listing a.link.loading { background-color: white; }
  .post-listing a.link.loading .filename {
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    background: url('images/ajax-loader.gif') no-repeat;
    height: 11px;
    width: 44px;
    color: #444;
    }

.post-listing a.link:hover .filename {
  color: #526066;
  }

.post-listing a.link:hover {
  border-color: #a0a0a0;
  color: #404040;
  }

.post-listing a.link:active {
  border-color: #526066;
  }

.post-listing a.link.folder {
  background:url('images/sprite.png') -450px -150px no-repeat;
  background-color: #E0E7EB;
  border-radius: 3px;
  }
  .post-listing a.link.folder:hover { 
    background-color: #f0f5f7; 
    }

.post-listing a.link.new .button {
  background: #516066 url('images/sprite.png') -440px -90px no-repeat;
  text-indent: 10px;
  padding: 5px;
  color: white;
  position: absolute;
  width: 100px;
  margin: auto;
  top: 40%;
  left: 0;
  right: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  }
  .post-listing a.link.new:hover .button { background: #3d4548 url('images/sprite.png') -440px -90px no-repeat; }


/* ------------------------------------------
  Post
---------------------------------------------*/

.document-menu {
  padding: 0 20px;
  height: 60px;
  background: #667880;
  overflow: visible;
  line-height: 40px;
  z-index: 2000;

  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  }

#post.sticky-menu .document-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  }

#post.sticky-menu .document {
  margin-top: 60px;
  }

#post.published .document-menu {
  background: #90bb74;
  }

#post .document-menu.commit {
  background: #575c5f;
}

#post.published .metadata {
  background: #73965d;
  }

.document-menu .options {
  display: none;
  background: #667880;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  }

#post.published .document-menu .options {
  background: #90bb74;
  }

/* commit message switch */

.document-menu.commit .toggle.view, .document-menu.commit .state .button.toggle-options {
  display: none;
}



.commit-message {
  display: block;
  float: left;
  width: 400px;
  height: 40px;
  font-family: Menlo, monospace;
  background: transparent;
  border: none;
  font-size: 16px;
  color: #555;
  color: #e7eef2;
  padding: 0 5px;
  background-color: rgba(0,0,0, 0.2);
  color: #e7eef2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  display: none;
  margin-right: 20px;
}

.document-menu.commit .commit-message {
  display: block;
}

.document-menu.commit .cancel-save {
  display: block;
}

/* commit message end */ 

.document-menu-content {
  width: 960px;
  margin: 0 auto;
  color: #E7EEF2;
  font-weight: 700;
  position: relative;
  }


.document-menu-content .status {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 60px;
  background-image:url('images/sprite.png');
  background-position: -290px -185px;
  }

#post.published .document-menu-content .status {
  background-position: -290px -285px;
  }

.document-menu-content .menu-item {
  background: rgba(0,0,0, 0.2);
  line-height: 40px;
  margin: 10px 0;
  }

.document-menu-content .menu-item state {
  background: none;
  }

.document-menu-content .menu-item.preview, .document-menu-content .menu-item.cheatsheet, .document-menu-content .menu-item.compose {
  text-indent: -9999px;
  overflow: hidden;
  background-image:url('images/sprite.png');
  background-repeat: no-repeat;
  width: 40px;
  padding: 0;
  margin-left: 1px;
  border-radius: 0;
  }
  .document-menu-content .menu-item.cheatsheet { 
    background-position: -290px -486px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    }
  .document-menu-content .menu-item.preview { 
    background-position: -438px 15px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    }
  .document-menu-content .menu-item.compose { 
    background-position: -288px -538px;
    }
  
.document-menu-content .menu-item.preview.active, .document-menu-content .menu-item.cheatsheet.active, .document-menu-content .menu-item.compose.active {
  background-color: rgba(0,0,0, 0.6);
  }

.document-menu-content .menu-item.meta {
  background-image:url('images/sprite.png');
  background-position: -288px 14px;
  padding-left: 35px;
  padding-right: 10px;
  }

.document-menu-content .menu-item.meta.active {
  background-color: rgba(0,0,0, 0.6);
  }

.document-menu-content a {
  color: #E7EEF2;
  }
  .document-menu-content a:active {
	  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
    }

.menu-item {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.menu-item:hover {
  background: rgba(0,0,0, 0.3);
  }

.document-menu-content .menu-item.meta {
  margin-left: 20px;
  }

.document-menu.commit .menu-item.meta {
  display: none;
}

.document-menu-content .filename input {
  font-family: Menlo, monospace;
  background: transparent;
  border: none;
  height: 40px;
  font-size: 16px;
  color: #555;
  color: #e7eef2;
  width: 400px;
  padding: 0 5px;
  margin: 10px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.document-menu.commit .filename {
  display: none;
}

.document-menu-content .confirm-label {
  display: none;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  padding-left: 6px;
  text-transform: uppercase;
}

.document-menu.commit .confirm-label {
  display: block;
}

.document-menu-content .filename .state {
  position: absolute;
  left: 420px;
  top: 15px;
  width: 50px;
  height: 30px;
  }

.document-menu-content .filename .state.loading {
  background: url('images/ajax-loader.gif') center center no-repeat;
  }

.document-menu-content .filename .state.error {
  background-image:url('images/sprite.png');
  background-position: -300px -200px;
  }

.document-menu-content .filename .state.success {
  background-image:url('images/sprite.png');
  background-position: -300px -300px;
  }

.document-menu-content .filename input:hover, .document-menu-content .filename input:focus {
  background-color: rgba(0,0,0, 0.2);
  color: #e7eef2;
  }

.document-menu .options {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 300px;
  z-index: 3000;
  border-radius: 0 0 5px 5px;
  }


.document-menu .options .publish-state {
  padding: 0 20px;
  }

.document-menu .options .actions {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 0 0 5px 5px;
  }

.document-menu .options .actions .button {
  display: block;
  text-align: center;
  background: rgba(0,0,0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.document-menu .options .actions .button:hover {
  background: #DB6F6F;
  }

.document-menu-content .menu-item.save-state {
	background: none;
  }
  .document-menu-content .menu-item.save-state:hover {
  background: none;
  }

.document-menu-content .state .button.save { 
  background: rgba(0,0,0, 0.2); 
  width: 180px; 
  text-align: center;
  line-height: 40px;
  margin-left: 1px;
  margin: 0px;
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  margin-left: 1px;
  padding: 0;
  }
  .document-menu-content .state .button.save:hover { background: rgba(0,0,0, 0.4); }


.state a.button.cancel-save {
  display: none;

  background: rgba(0,0,0, 0.10);
  width: 50px; 
  text-align: center;
  line-height: 40px;
  margin-left: 1px;
  margin: 0px;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  margin-left: 1px;
  padding: 0;
}

.document-menu-content .save-state {
  margin-left: 20px;
  }
  .document-menu-content .save-state:hover {
    background: rgba(0,0,0, 0.2);
    }

.document-menu-content .state .button {
  display: block;
  float:left;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 5px;
  line-height: 30px;
  height: 30px;
  padding: 0 12px;
  }

.document-menu-content .state .button.toggle-options {
  background-image: url('images/sprite.png');
  background-position: -288px -437px;
  width: 50px;
  padding: 0;
  height: 40px;
  margin: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0, 0, 0, .2);
  }

.document-menu-content .state .button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  }

.document-menu-content .state .button.inactive, .document-menu-content .state .button.inactive:hover {
  text-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  }

.document-menu-content .state .button.error, .document-menu-content .state .button.error:hover {
  background: #DB6F6F;
  }
  .document-menu-content .state .button.saving {
	  text-indent: -9999px;
	  overflow: hidden;
	  background-image: url('images/ajax-loader-unpublished.gif');
	  background-repeat: no-repeat;
	  background-position: 60px 13px;
	  }
	  .published .document-menu-content .state .button.saving {
  	  text-indent: -9999px;
	    overflow: hidden;
	    background-image: url('images/ajax-loader-published.gif');
	    background-repeat: no-repeat;
	    background-position: 60px 13px;
	    }

.document-menu-content .state .options {
  background: rgba(0,0,0, 0.3);
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  }

.document .metadata {
  overflow: hidden;
  background: #526066;
  color: #CCC;
  z-index: 1000;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  }

.document .metadata-content .CodeMirror {
  color: #F0F0F0;
  }

.document .metadata-content {
  background: rgba(0,0,0, 0.2);
  width: 960px;
  margin: 0 auto;
  }

.document .metadata #raw_metadata {
  }

.state p,
.state .button-padding {
  float: left;
  }
  .state p {
    color: #526066;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    margin: 0;
    }

.document {
  position: fixed;
  z-index: 2000;
  top: 120px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  min-height: 400px;
  background: #e7eef2;
  /*position: relative;*/
  /*overflow:hidden;*/
  overflow: auto;

  }

.document .surface {
  overflow: hidden;
  }

.document .surface .cheatsheet-wrapper         { display: none; }
.document .surface .content-wrapper            { display: none; }
.document .surface .content-preview-wrapper    { display: none; }


.document .diff-wrapper               { margin-top: 40px; display: none; }

.document .diff-wrapper .diff {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  white-space: pre;
  overflow: auto;
  padding: 30px 30px;
  font-family: Menlo, monospace !important;
  font-size: 17px;
  width: 960px;
  margin: 0 auto;
}

.document .surface.cheatsheet .cheatsheet-wrapper {
  padding-top: 20px;
  display: block;
  position: relative;
  }

.document .surface.compose .content-wrapper {
  /*padding-top: 20px;*/
  display: block;
  position: relative;
  }

.document .surface .content-wrapper .content {
  background: rgba(0,0,0, 0.05);
}

.document .surface.preview .content-preview-wrapper {
  position: relative;
  display: block;
  padding-top: 20px;
  word-wrap: break-word;
  }

.document .content-preview, .document .content {
  padding: 0px 0px;
  width: 960px;
  margin: 0 auto;
  }

.document .cheatsheet-wrapper .content {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
  }

.document .cheatsheet-wrapper .content .left {
  float: left;
  width: 450px;
  }

.document .cheatsheet-wrapper .content .right {
  float: right;
  width: 450px;
  }

.document .cheatsheet-wrapper .content h2 {
  font-weight: 700;
  padding: 5px 0;
  margin: 0;
  }

.document .cheatsheet-wrapper .content pre {
  border: 1px solid #C3CCD0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  line-height: 1.5em;
  font-size: 17px;
  padding: 10px;
  font-family: Menlo, monospace !important;
  }

/* ------------------------------------------
  Rendered Markdown
---------------------------------------------*/

.post-content {
  background: #fff;
  padding: 100px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  border: 1px solid #C3CCD0;
  font-size: 16px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  }

.post-content * {
	line-height: 1.2em;
  }

.post-content p, .post-content ul, .post-content ol,  .post-content li {
	line-height: 1.5em;
  }

.post-content .title {
  font-size: 18px; 
  margin-bottom: 20px; 
  font-weight: 700;
  border-bottom: 1px solid #d5e0e4;
  padding-bottom: 20px;
  }

.post-content h1 { font-size: 36px; margin: 10px 0 20px 0; }
.post-content h2 { font-size: 24px; margin: 10px 0 20px 0; font-weight: 700; padding: 0; }
.post-content h3, .post-content h4, .post-content h5, .post-content h6 { 
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 5px 0;
  }
  
.post-content blockquote {
	padding-left: 19px;
  border-left: 1px solid #d5e0e4;
  font-style: italic;
  margin-bottom: 20px;
  }

.post-content ul {
  margin-left: 0px;
  padding-left: 20px;
  list-style: disc;
  }

.post-content ol {
  margin-left: 0px;
  padding-left: 20px;
  list-style: decimal;
  }

.post-content img {
  max-width: 780px;
  }

.post-content .meta {
  margin-top: 30px;
  padding-top: 5px;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 1px solid #d5e0e4;
  }

.post-content a {
  color: #90BB74;
  }
.post-content a:hover {
  color: #73955C;
  }
  
.post-content p {
  margin-bottom: 20px;
  }

.post-content p:last-child {
  margin-bottom: 20px;
  }
  
.post-content code {
  font-family: Menlo, monospace;
  padding: 4px;
  margin: 0 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #d5e0e4;
  }

.post-content pre {
  overflow: auto;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #d5e0e4;
  word-wrap: normal
  }
  .post-content pre code {

    border: none;
    margin: 0;
    padding: 0;
    }

.post-content hr {
  margin: 5px 0 19px 0;
  border: 0;
  border-top: 1px solid #d5e0e4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

/* ------------------------------------------
  About
---------------------------------------------*/

#container .about {
  width: 960px;
  margin: 30px auto;
  background: white;
  }

/* ------------------------------------------
  Logbook
---------------------------------------------*/

.help {
  width: 960px;
  margin: 20px auto;
  }

.help h2 {
  background: url('images/sprite.png') -110px -1042px no-repeat;
  }
  .help.post-content h2 { background: none;}
  
.help .articles {
  overflow: auto;
  }

.help .articles .article {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px
  border: #c3ccd0 1px solid;
  overflow: hidden;
  background-color: #F2F6F8;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);

  font-size: 16px;
  position: relative;
  margin: 20px 20px 0px 0;
  width: 220px;
  height: 250px;
  color: #444;
  display: block;
  float: left;
  padding: 10px;
  border: 1px solid #C3CCD0;
  }
  .help .articles .article:hover {
    background-color: white;
    }

.help .articles .article .title {
  padding: 5px 0;
  }

.help .articles .article p {
  font-size: 12px;
  font-weight: 400;
  }


.help-article {
  width: 960px;
  margin: 30px auto;
  }

/* ------------------------------------------
  Notifications
---------------------------------------------*/

#notification .notification{
  text-align: center;
  width: 440px;
  margin: 60px auto 0 auto;
  padding: 20px;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 700;
  }

#notification a {
	background: #516066;
  padding: 5px;
  color: white;
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  margin: 0px auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  }
  #notification a:hover { background: #3d4548; }

ul.form li {
  position: relative;
  }

label.error {
  color: #E73C58;
  position: absolute;
  right: 5px;
  top: 23px;
  font-size: 12px;
  }

/* ------------------------------------------
  Class Helpers
---------------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

.icon {
  background: transparent url(images/icons.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
  }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }

.inner      { padding: 0px 0px 0px; }
.hidden     { display: none; }
.centered   { text-align: center; }
.scrolling  { overflow: auto; }
.clipping   { overflow: hidden; }

/* ------------------------------------------
  ios and small screen alterations
---------------------------------------------*/
 @media all and (max-width: 480px) {
  #post .inner {
    width: 100%;
    margin: 0;
    padding: 20px 0px 40px 0px;
    }
  .toggle-mode {
    right: 0;
    }
  }
