<div class='form-item'>
  <label for='<%= meta.name %>'><%= meta.label %></label>
  <% if (meta.help) { %><small class='deemphasize'><%= meta.help %></small><% } %>

  <fieldset>
    <select id='<%= meta.name %>' name='<%= meta.name %>' data-placeholder='<%= meta.placeholder %>' multiple class='metafield chzn-select'>
      <% _(meta.options).each(function(o) { %>
        <% if (!o.lang || o.lang === meta.lang) { %>
          <% if (o.name) { %>
           <option value='<%= o.value %>'><%= o.name %></option>
          <% } else if (o.value) { %>
           <option value='<%= o.value %>'><%= o.value %></option>
          <% } else { %>
           <option value='<%= o %>'><%= o %></option>
          <% } %>
        <% } %>
      <% }); %>
    </select>
  </fieldset>

  <% if (meta.alterable) { %>
    <div class='create'>
      <input type='text' class='inline' data-select='<%= meta.name %>' />
      <a href='#' class='round create-select inline button' data-select='<%= meta.name %>' title="<%= t('main.file.createMeta') %>"><%= t('main.file.createMeta') %></a>
    </div>
  <% } %>
</div>
