<script name='header' type='text/html'>{% include templates/header._ %}</script>
<script name='posts' type='text/html'>{% include templates/posts._ %}</script>

<script name='repo' type='text/html'>{% include templates/repo._ %}</script>
<script name='repos' type='text/html'>{% include templates/repos._ %}</script>
<script name='start' type='text/html'>{% include templates/start._ %}</script>
<script name='error' type='text/html'>{% include templates/error._ %}</script>
<script name='editor' type='text/html'>{% include templates/editor._ %}</script>
<script name='user' type='text/html'>{% include templates/user._ %}</script>
