<script name='header' type='text/html'>{% include templates/header._ %}</script>
<script name='posts' type='text/html'>{% include templates/posts._ %}</script>
<script name='post' type='text/html'>{% include templates/post._ %}</script>
<script name='publish_status' type='text/html'>{% include templates/publish_status._ %}</script>
<script name='new_post' type='text/html'>{% include templates/new_post._ %}</script>
<script name='start' type='text/html'>{% include templates/start._ %}</script>
<script name='notification' type='text/html'>{% include templates/notification._ %}</script>