<script name='header' type='text/html'>{% include templates/header._ %}</script>
<script name='posts' type='text/html'>{% include templates/posts._ %}</script>
<script name='files' type='text/html'>{% include templates/files._ %}</script>
<script name='post' type='text/html'>{% include templates/post._ %}</script>
<script name='binary_file' type='text/html'>{% include templates/binary_file._ %}</script>
<script name='publish_status' type='text/html'>{% include templates/publish_status._ %}</script>
<script name='start' type='text/html'>{% include templates/start._ %}</script>
<script name='profile' type='text/html'>{% include templates/profile._ %}</script>
<script name='notification' type='text/html'>{% include templates/notification._ %}</script>