<nav id='navigation' class='vert clearfix navigation'></nav>

<div id='drawer' class='sidebar'></div>

<div id='main'></div>

<div class='prose-menu dropdown-menu'>
  <div class='inner clearfix'>
    <a href='#' class='icon branding dropdown-hover' data-link=true>Prose</a>
    <ul class='dropdown clearfix'>
      <li><a href='#'>Prose v1</a></li>
      <li><a class='about' href='./#about'>About</a></li>
      <li><a class='help' href='https://github.com/prose/prose'>Developers</a></li>
      <% if (window.authenticated) { %>
        <li class='divider'></li>
        <li><a href='#' class='logout'>Logout</a></li>
      <% } %>
    </ul>
  </div>
</div>
