<% if (locale.current() === 'he-IL') { %>
  <link rel='stylesheet' href='./style-rtl.css'>
<% } %>

<div id='loader' class='loader'></div>
<div id='drawer' class='sidebar' <% if (locale.current() === 'he-IL') { %>dir='rtl'<% } %>></div>
<nav id='navigation'></nav>
<div id='main' <% if (locale.current() === 'he-IL') { %>dir='rtl'<% } %>></div>

<div class='prose-menu dropdown-menu' <% if (locale.current() === 'he-IL') { %>dir='rtl'<% } %>>
  <div class='inner clearfix'>
    <a href='#' class='icon branding dropdown-hover' data-link=true>Prose</a>
    <ul class='dropdown clearfix'>
      <li><a href='#'>Prose</a></li>
      <li><a class='about' href='./#about'><%= t('navigation.about') %></a></li>
      <li><a class='help' href='https://github.com/prose/prose'><%= t('navigation.develop') %></a></li>
      <li><a href='./#chooselanguage'><%= t('navigation.language') %></a></li>
      <li class='divider authenticated'></li>
      <li class='authenticated'>
        <a href='#' class='logout'><%= t('navigation.logout') %></a>
      </li>
    </ul>
  </div>
</div>
