<div class="project-title">
  <h3><span class="glyphicon glyphicon-book"></span><%= data.project_name %></h3>
</div>

<% if (data.path && data.path !== data.rooturl) { %>
  <div class='breadcrumb'>
    <a class='branch' href='#<%= data.url %>'>..</a>
    <% _.each(data.parts, function(part) { %>
      <% if (part.name !== data.rooturl) { %>
        <span class='slash'>/</span>
        <a class='path' href='#<%= [data.url, part.url].join("/") %>'><%= part.name %></a>
      <% } %>
    <% }); %>
  </div>
<% } %>

<ul class='listing'></ul>

<div class="new-file-wrapper">
<a href="#" class="fl button round new new-file" data-state="new">
  New File
</a>
</div>