<li class='clearfix'>
  <div class='fl icon round <%= extension %>'></div>
  <div class='fl details'>
    <a class='clearfix item'
      data-index='<%= index %>'
      href='#<%= user %>/<%= repo %>/edit/<%= branch %>/<%= path %>'>
      <% if (extension === 'md') { %>
        <h3><%= filename %></h3>
        <span class='deemphasize'><%= name %></span>
      <% } else { %>
        <h3 class='title'><%= name %></h3>
      <% } %>
    </a>
  </div>
  <div class='fr actions cleafix'>
    <% if (!isMedia) { %>
      <a class='clearfix item'
        title='Edit this File'
        data-index='<%= index %>'
        href='#<%= user %>/<%= repo %>/edit/<%= branch %>/<%= path %>'>
        Edit
      </a>
    <% } %>
    <a
      class='delete'
      title='Delete this File'
      data-name='<%= user %>'
      data-repo='<%= repo %>'
      data-branch='<%= branch %>'
      data-file='<%= path %>'
      href='#'>
      <span class='delete icon inline small'>Delete</span>
    </a>
  </div>
</li>
