<% if (alterable) { %>
  <div class='action round avatar'>
    <div class='popup-hover'>
      <span class='ico round status'></span>
      <span class='popup round arrow-left'><%= t('actions.change.noChange') %></span>
      <%= avatar %>
    </div>
  </div>
  <div class='fl details'>
    <h4 class='parent-trail'><a href="#<%= login %>"><%= login %></a> / <a href="#<%= login %>/<%= repo.name %>"><%= repo.name %></a><% if (private) { %><span class='ico small inline private' title='Private Project'></span><% } %></h4>

    <% if (app.state.mode === 'new' && !translate) { %>
      <input type='text' class='filepath' placeholder='<%= title %>'>
    <% } else { %>
      <input type='text' class='filepath' value='<%= title %>'>
    <% } %>

    <div class='mask'></div>
  </div>
<% } else { %>
  <div class='avatar round'><%= avatar %></div>
  <div class='fl details'>
    <h4><a class='user' href='#<%= login %>'><%= login %></a></h4>
    <h2><a class='repo' href='#<%= path %>'><%= title %></a></h2>
  </div>
<% } %>
