<% if (alterable) { %>
  <div class='action round avatar'>
    <div class='popup-hover'>
      <span class='ico round status'></span>
      <% if (writable) { %>
        <span class='popup round arrow-left'>No Changes</span>
      <% } else { %>
        <span class='popup round arrow-left'>Changes to Submit</span>
      <% } %>
      <%= avatar %>
    </div>
  </div>
  <div class='fl details'>
    <h4 class='parent-trail'><%= parentTrail %><% if (isPrivate) { %><span class='ico small inline private' title='Private Project'></span><% } %></h4>

    <% if (app.state.mode === 'new' && !translate) { %>
      <input type='text' class='filepath' placeholder='<%= title %>'>
    <% } else { %>
      <input type='text' class='filepath' value='<%= title %>'>
    <% } %>

    <div class='mask'></div>
  </div>

<% } else { %>
  <div class='avatar round'><%= avatar %></div>
  <div class='fl details'>
    <h4><a class='user' href='#<%= parentUrl %>'><%= parent %></a></h4>
    <h2><a class='repo' href='#<%= titleUrl %>'><%= title %></a></h2>
  </div>
<% } %>
