<ul class='main-menu col col25'>
  <% _(help).each(function(mainMenu, i) { %>
    <li><a href='#' class='<% if (i === 0) { %>active <% } %>' data-id='<%= _.formattedClass(mainMenu.menuName) %>'><%= mainMenu.menuName %></a></li>
  <% }); %>
</ul>

<div class='col col25'>
  <% _(help).each(function(mainMenu, i) { %>
  <ul class='sub-menu <%= _.formattedClass(mainMenu.menuName) %> <% if (i === 0) { %>active<% } %>' data-id='<%= _.formattedClass(mainMenu.menuName) %>'>
      <% _(mainMenu.content).each(function(subMenu) { %>
        <li><a href='#' data-id='<%= _.formattedClass(subMenu.menuName) %>'><%= subMenu.menuName %></a></li>
      <% }); %>
    </ul>
  <% }); %>
</div>

<div class='col prose'>
  <% _(help).each(function(mainMenu) { %>
    <% _(mainMenu.content).each(function(d, i) { %>
    <div class='help-content inner <% if (i === 0) { %>active <% } %><%= _.formattedClass(d.menuName) %>'>
      <%= d.data %>
    </div>
    <% }); %>
  <% }); %>
</div>
