<div class='inner clearfix'>

  <% if (assetsDirectory) { %>
    <div class='col fl'>
      <label>Choose Existing</label>
      <div class='media-listing'>
        <ul id='media'></ul>
      </div>
    </div>
  <% } %>

  <div <% if (assetsDirectory) { %>class='col fl'<% } %>>
    <label>Insert Image</label>
    <div class='contain clearfix'>
      <span class='ico picture-add fl'></span>
      Add images by dragging &amp; dropping, or<br />
      <input id='upload' type='file' />
      <a>selecting them</a>
    </div>

    <input type='text' name='url' placeholder='Image URL' />
    <input type='text' name='alt' placeholder='Alt text (optional)' />
    <a href='#' class='button round insert' data-type='link'>Insert</a>
  </div>
</div>
