<% if (!noMenu && window.authenticated) { %>
  <ul class='mobile nav clearfix'>
    <li>
      <a href='#' class='toggle ico menu round'></a>
    </li>
  </ul>
<% } %>

<!-- if repo and authenticated -->
<ul class='repo nav clearfix'>
  <li>
    <!-- #user/repo/new/branch/path -->
    <a href='#' class='ico round new new-file'>
      <span class='popup round arrow-right'><%= t('navigation.newFile') %></span>
    </a>
  </li>
</ul>

<ul class='file nav clearfix'>
  <li>
    <a href='#' class='ico round pencil edit' data-state='edit'>
      <span class='popup round arrow-right'><%= t('navigation.edit') %></span>
    </a>
  </li>

  <!-- if markdown or new -->
  <li>
    <a href='#' class='ico round eye blob preview' data-state='preview'>
      <span class='popup round arrow-right'><%= t('navigation.preview') %></span>
    </a>
  </li>

  <!-- if authenticated -->
  <!-- if lang == yaml -->
  <li>
    <a href='#' class='ico round metadata meta' data-state='meta'>
      <span class='popup round arrow-right'><%= t('navigation.meta') %></span>
    </a>
  </li>
  <li>
    <a href='#' class='ico round sprocket settings' data-state='settings' data-drawer=true>
      <span class='popup round arrow-right'><%= t('navigation.settings') %></span>
    </a>
  </li>
  <li>
    <a href='#' class='ico round save' data-state='save'>
      <span class='popup round arrow-right'><%= t('navigation.save') %></span>
    </a>
  </li>
</ul>

<ul class='auth nav clearfix'>
  <% if (!window.authenticated) { %>
  <li>
  <a class='ico round switch login' href='<%= auth.site %>/login/oauth/authorize?client_id=<%= auth.id %>&scope=repo&redirect_uri=<%= encodeURIComponent(window.location.href) %>'>
      <span class='popup round arrow-right'><%= t('login') %></span>
    </a>
  </li>
</ul>
<% } %>
