<ul class='mobile nav clearfix'>
  <li>
    <a href='#' class='toggle ico menu round'></a>
  </li>
</ul>

<ul class='file nav clearfix'>
  <li>
    <a href='#' class='ico round pencil edit' data-state='edit'>
      <span class='popup round arrow-right'><%= t('navigation.edit') %></span>
    </a>
  </li>

  <li>
    <a href='#' class='ico round eye blob preview' data-state='blob'>
      <span class='popup round arrow-right'><%= t('navigation.preview') %></span>
    </a>
  </li>

  <li>
    <a href='#' class='ico round metadata meta' data-state='meta'>
      <span class='popup round arrow-right'><%= t('navigation.meta') %></span>
    </a>
  </li>

  <li>
    <a href='#' class='ico round sprocket settings' data-state='settings' data-drawer=true>
      <span class='popup round arrow-right'><%= t('navigation.settings') %></span>
    </a>
  </li>

  <li>
    <a href='#' class='ico round save' data-state='save'>
      <div class='status'></div>
      <span class='popup round arrow-right'>
        <%= t('navigation.save') %>
      </span>
    </a>
  </li>

  <li>
    <a href='#' class='ico round glyphicon glyphicon-book generate-preview' data-state='generate-preview'>
      <div class='status'></div>
      <span class='popup round arrow-right'>
        Generate Preview
      </span>
    </a>
  </li>

  <li>
    <a href='#' class='ico round glyphicon glyphicon-calendar commits' data-state='commits'>
      <span class='popup round arrow-right'>File History</span>
    </a>
  </li>

</ul>

<ul class='auth nav clearfix'>
  <li>
    <a class='ico round switch login' href='<%= data.login %>'>
      <span class='popup round arrow-right'><%= t('login') %></span>
    </a>
  </li>
</ul>
