<% if (!window.authenticated) { %>
  <div class='notify <%= type %>'>
    <h2 class='icon landing error'>Prose</h2>
    <div class='inner'>
      <p>Please login with your GitHub account to access that project.</p>
      <p><a class='button round' href='<%= auth.site %>/login/oauth/authorize?client_id=<%= auth.id %>&scope=repo, user&redirect_uri=<%= encodeURIComponent(window.location.href) %>'>Authorize with GitHub</a></a>
    </div>
  </div>
<% } else { %>
  <div class='notify <%= key %>'>
    <h2 class='icon landing error'>Prose</h2>
    <div class='inner'>
      <p><%= message %></p>
      <% if (pathFromFile) { %>
        <p><a class='button round create' href='#'>Create it</a></p>
      <% } %>

      <% if (key === 'error') { %>
        <p><a class='button round' href='#'>Back to Main Page</a></p>
      <% } else { %>
        <p><a class='button round' href='<%= previous %>'>Go back</a></p>
      <% } %>
    </div>
  </div>
<% } %>
