<% if (!window.authenticated) { %>
<div class='notify <%= type %>'>
  <div class='inner'>
    Please login with your GitHub account to access that project.
    <p><a class='button round' href='https://github.com/login/oauth/authorize?client_id=c602a8bd54b1e774f864&scope=repo, user&redirect_uri=<%= encodeURIComponent(window.location.href) %>'>Sign in</a></a>
  </div>
</div>
<% } else { %>
  <div class='notify <%= type %>'>
    <div class='inner'>
      <p><%= message %></p>
      <p><a class='button create' href='#'>Create it </a></p>
      <p><a class='button round' href='../'>Go back </a></p>
    </div>
  </div>
<% } %>
