<div class='topbar-wrapper'>
  <div class='topbar'>
    <div class='containment content-search'>
      <span class='ico search inline fr'></span>
      <input type='text' id='filter' placeholder='Filter Files' />
    </div>
  </div>
</div>

<div class='listing'>
  <% if (path.length && path !== jailed) { %>
    <div class='breadcrumb'>
      <a class='branch' href='#<%= [user, repo, "tree", branch].join("/") %>'>..</a>
      <% _.each(_.chunkedPath(path), function(p) { %>
        <% if (p.name !== jailed) { %>
          <span class='slash'>/</span>
          <a class='path' href='#<%= [user, repo, "tree", branch, p.url].join("/") %>'><%= p.name %></a>
        <% } %>
      <% }); %>
    </div>
  <% } %>

  <ul id='files'></ul>
</div>
