<li class='item clearfix'
    data-navigate='#<%= owner.login %>/<%= name %>'
    data-index='<%= index %>'>

    <% if (app.state.user === app.username && (owner.login !== app.username && private)) { %>
      <div class='fl icon round repo owner private' title='Shared repo with <%= owner.login %>'></div>
    <% } else if (app.state.user === app.username && owner.login !== app.username) { %>
      <div class='fl icon round repo owner' title='Shared repo with <%= owner.login %>'></div>
    <% } else if (private) { %>
      <div class='fl icon round repo private'></div>
    <% } else { %>
      <div class='fl icon round repo'></div>
    <% } %>

    <div class='details fl'>
      <h3<% if (!description) { %> class='title'<% } %>>
        <a
          data-user='<%= owner.login %>'
          data-repo='<%= name %>'
          href='#<%= owner.login %>/<%= name %>'>
          <%= name %>
        </a>
      </h3>
      <span class='deemphasize'><%= description %></span>
    </div>

    <div class='fr actions clearfix'>
      <a
        data-user='<%= owner.login %>'
        data-repo='<%= name %>'
        href='#<%= owner.login %>/<%= name %>'>
        View Project
      </a>
      <% if (homepage) { %>
        <a href='//<%= homepage %>'>View Site</a>
      <% } %>
    </div>
</li>
