<% if (authenticated) { %>
  <% if (recent.length) { %>
    <div class='inner'>
      <h2 class='label inner'>Your Recent History</h2>
    </div>
    <ul id="recent" class="listing">
      <% _.each(recent.splice(0,5), function(filename) { %>
        <li><a class="item" href='#<%= [user, repo, "edit", branch, filename].join("/") %>'><%= filename %></a></li>
      <% }); %>
    </ul>
  <% } %>
  <% if (removed.length) { %>
    <div class='inner'>
      <h2 class='label inner'>Recently Deleted</h2>
    </div>
    <ul id="removed" class="listing">
      <% _.each(removed.splice(0,5), function(filename) { %>
        <li><a class="item" href='#<%= [user, repo, "edit", branch, filename].join("/") %>'><%= filename %></a></li>
      <% }); %>
    </ul>
  <% } %>
<% } %>
