<% if (authenticated) { %>
  <% if (history.recent.length) { %>
    <div class='history'>
      <div class='inner'>
        <h2 class='label inner'>Your Recent History</h2>
      </div>
      <ul id="recent" class="listing">
        <% _.each(history.recent.slice(0,5), function(filename) { %>
          <li><a class="item" href='#<%= [user, repo, "edit", branch, filename].join("/") %>'>
            <span class="status <%= history.files[filename][0].status %>">
            <% switch(history.files[filename][0].status) {
              case 'added':
                print('+');
                break;
              case 'modified':
                print('M');
                break;
              case 'removed':
                print('-');
                break;
              case 'renamed':
                print('&#8594;');
                break;
            } %>
            </span>
            <%= filename %>
          </a></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
<% } %>
