<header id='heading' class='heading limiter clearfix'></header>

<div id='content' class='application content limiter'>
  <div class='topbar-wrapper'>
    <div class='topbar clearfix'>
      <!-- if repo and authenticated -->
      <!-- #user/repo/new/branch/path -->
      <a href='#' class='fr button round new new-file' data-state='new'>
        <%= t('navigation.newFile') %>
      </a>
      <div id='search' class='content-search round'></div>
    </div>
  </div>

  <div id='files'></div>
</div>
