<li class='item clearfix'
    data-navigate='#<%= owner.login %>/<%= name %>'
    data-id='<%= id %>'>

    <a
      class='listing-icon'
      data-user='<%= owner.login %>'
      data-repo='<%= name %>'
      href='#<%= owner.login %>/<%= name %>'>
      <% if (app.state.user === app.username && (owner.login !== app.username && private)) { %>
        <span class='icon round repo owner private' title='Shared from the account (<%= owner.login %>)'></span>
      <% } else if (app.state.user === app.username && owner.login !== app.username) { %>
        <span class='icon round repo owner' title='Shared from the account (<%= owner.login %>)'></span>
      <% } else if (fork && private) { %>
        <span class='icon round repo private fork' title='Forked from another project'></span>
      <% } else if (fork) { %>
        <span class='icon round repo fork' title='Forked from another project'></span>
      <% } else if (private) { %>
        <span class='icon round repo private'></span>
      <% } else { %>
        <span class='icon round repo'></span>
      <% } %>
    </a>

    <div class='details'>
      <div class='actions fr clearfix'>
        <a
          data-user='<%= owner.login %>'
          data-repo='<%= name %>'
          href='#<%= owner.login %>/<%= name %>'>
          View Project
        </a>
        <% if (homepage) { %>
          <a href='<%= homepage %>'>View Site</a>
        <% } %>
      </div>
      <a
        data-user='<%= owner.login %>'
        data-repo='<%= name %>'
        href='#<%= owner.login %>/<%= name %>'>
        <h3<% if (!description) { %> class='title'<% } %>><%= name %></h3>
        <span class='deemphasize'><%= description %></span>
      </a>
    </div>
</li>
