<% if (window.authenticated) { %>
  <div class='inner'>
    <h2 class='label'>Options</h2>
  </div>
  <div class='inner authoring'>

    <% if (app.state.path != '_drafts') { %>
      <a class='draft button round' href='#'>Save as a Draft</a>
    <% } %>
    
    <% if (app.state.config && app.state.config.languages && lang !== 'yaml') { %>
      <% _(app.state.config.languages).each(function(lang) { %>
        <% if (lang.value && (metadata && metadata.lang !== lang.value)) { %>
          <a class='translate round button' href='#<%= lang.value %>'>Translate to <%= lang.name %></a>
        <% } %>
      <% }); %>
    <% } %>

    <% if (app.state.mode !== 'new' && writable) { %>
      <a class='delete button round' href='#'>Delete this File</a>
    <% } %>
  </div>
<% } %>
