<% if (window.authenticated) { %>
  <div class='inner'>
    <h2 class='label'>Post Settings</h2>
  </div>
  <div class='inner authoring'>
    <div class='commit'>
      <h2 class='label'>Describe you changes</h2>
      <textarea class='commit-message' placeholder></textarea>
      <a class='ico small cancel round' href='#'>
        <span class='popup round arrow-right'>Cancel</span>
      </a>
    </div>

    <a class='save button round' href='#'>
      <%= writable ? 'Save' : 'Submit Change' %>
    </a>

    <% if (app.state.config && app.state.config.languages && lang !== 'yaml') { %>
      <% _(app.state.config.languages).each(function(lang) { %>
        <% if (lang.value && (metadata && metadata.lang !== lang.value)) { %>
          <a class='translate round button' href='#<%= lang.value %>'>Translate to <%= lang.name %></a>
        <% } %>
      <% }); %>
    <% } %>

    <% if (app.state.mode !== 'new' && writable) { %>
      <a class='delete button round' href='#'>Delete this File</a>
    <% } %>
  </div>
<% } %>
