<% if (authenticated) { %>
  <div class='inner'>
    <h2 class='label'>Groups</h2>
  </div>
  <ul class='listing'>
  <% if (orgs) { %>
    <li>
      <a href='#<%= user.login %>' title='<%= user.login %>'<% if (user.repo.owner.id === user.id) { %> class='active'<% } %>>
        <span class='ico repos inline small'></span>
        <%= user.login %>
      </a>
    </li>
    <% orgs.each(function(org) { debugger;  %>
    <li>
      <a href='#<%= org.login %>' title='<%= org.login %>'<% if (user.repo.owner.id === org.id) { %> class='active'<% } %>>
        <span class='ico repos inline small'></span>
        <%= org.login %>
      </a>
    </li>
    <% }); %>
  <% } %>
  </ul>
<% } %>
