<div class='inner'>
  <% if (app.state.branches.length > 0) { %>
    <h2 class='label'>Switch Branch</h2>
    <select data-placeholder='Current Branch Name' class='chzn-select'>
        <option value='#<%= [user, repo, "tree", branch].join("/") %>' selected><%= branch %></option>
      <% _.each(branches, function(branch) { %>
        <option value='#<%= [user, repo, "tree", branch].join("/") %>'><%= branch %></option>
      <% }); %>
    </select>
  <% } %>
</div>
<% if (authenticated) { %>
  <% if (history.recent && history.recent[app.username]) { %>
    <div class='history'>
      <div class='inner'>
        <h2 class='label inner'>Your Recent History</h2>
      </div>
      <ul id='recent' class='listing'>
        <% _.each(history.recent[app.username], function(filename) { 
            var rooturl;
            if (app.state.config && app.state.config.prose) { rooturl = app.state.config.prose.rooturl; }
            if (!rooturl || filename.indexOf(rooturl) > -1) { %>
          <li><a class='item' title='<%= history.state[filename][0] %>: <%= filename %>' href='#<%= [user, repo, "edit", branch, filename].join("/") %>'>
            <span class='ico small inline <%= history.state[filename][0] %>'></span>
            <%= filename %>
          </a></li>
        <% }}); %>
      </ul>
    </div>
  <% } %>
<% } %>
