<div class='inner'>
  <% if (app.state.branches.length > 0) { %>
    <h2 class='label'><%= t('sidebar.repo.branch') %></h2>
    <select data-placeholder='Current Branch Name' class='chzn-select'>
        <option value='#<%= [user, repo, "tree", branch].join("/") %>' selected><%= branch %></option>
      <% _.each(branches, function(branch) { %>
        <option value='#<%= [user, repo, "tree", branch].join("/") %>'><%= branch %></option>
      <% }); %>
    </select>
  <% } %>
</div>

<% var rooturl = (app.state.config && app.state.config.prose) ? app.state.config.prose.rooturl : undefined; %>
<% if (rooturl && path != '_drafts') { %>
  <div class='inner'>
    <a class='button round' href='#<%= [user, repo, "tree", branch, "_drafts"].join("/") %>'><%= t('sidebar.repo.drafts') %></a>
  </div>
<% } %>

<% if (window.authenticated) { %>
<% if (history &&
        history.user === user &&
        history.repo === repo &&
        history.branch === branch &&
        history.recent &&
        history.recent[app.username]) { %>
    <div class='history'>
      <div class='inner'>
        <h2 class='label inner'><%= t('sidebar.repo.history.label') %></h2>
      </div>
      <ul id='recent' class='listing'>
        <%
          var recent = history.recent[app.username]; 
          if (rooturl) {
            recent = recent.filter(function(item) {
              return item.indexOf(rooturl) > -1;
            });
          }
        %>
        <% _.each(recent.slice(0,5), function(filename) { 
            var status = history.commits[filename][0].status;
        %>
        <li><a class='item <%= status %>' title='<%= status %>: <%= filename %>' href='#<%= [user, repo, "edit", branch, filename].join("/") %>' data-path='<%= filename %>'>
            <span class='ico small inline <%= status %>'></span>
            <% if (status === 'removed') { %>
              <span class='overlay'>
                <span class='ico small inline <%= status %>'></span>
                <%= t('sidebar.repo.history.actions.restore') %>
              </span>
            <% } %>
            <%= filename %>
          </a></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
<% } %>

<% if (repo && window.authenticated) { %>
<div class='inner'>
  <a href='#<%= user %>/<%= repo %>/new/<%= branch %><%= path ? "/"+path : ""%>' class='round button mobile-new-file'><%= t('sidebar.repo.create') %></a>
</div>
<% } %>
