<% if (window.authenticated) { %>
  <div class='inner'>
    <h2 class='label'><%= t('sidebar.save.label') %></h2>
  </div>
  <div class='inner authoring'>
    <div class='commit'>
      <textarea class='commit-message' placeholder></textarea>
      <a class='ico small cancel round' href='#'>
        <span class='popup round arrow-bottom'><%= t('sidebar.save.cancel') %></span>
      </a>
    </div>

    <% if (writable) { %>
      <a class='confirm button round' href='#'><%= t('sidebar.save.save') %></a>
    <% } else { %>
      <a class='confirm button round' href='#'><%= t('sidebar.save.submit') %></a>
    <% } %>
  </div>
<% } %>
