---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Prose &middot; A Content Editor for GitHub</title>
  <link rel='shortcut icon' href='/{{site.baseurl}}images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='/{{site.baseurl}}fonts/open-sans.css'>
  <link rel='stylesheet' href='/{{site.baseurl}}app.css'>
  <script src='/{{site.baseurl}}boot.js'></script>
</head>
<body>
  <div id='container'>
    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      <a class='help' href="/{{site.baseurl}}help.html">Help</a><a class='about' href="/{{site.baseurl}}about.html">About</a>
      <div class="fr brand">
        <a href="/{{site.baseurl}}#prose/prose/blob/gh-pages/README.md">Prose 0.4.0-fork</a>
      </div>
   </div>
  </div>
</body>
</html>
