---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Prose &middot; Manage content, visually.</title>
  <link rel='shortcut icon' href='/{{site.baseurl}}images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='/{{site.baseurl}}fonts/open-sans.css'>
  <link rel='stylesheet' href='/{{site.baseurl}}app.css'>
  {% include templates.html %}
  <script src='/{{site.baseurl}}boot.js'></script>
</head>
<body>
  <div id='container'>
    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      <a class='help' href="/{{site.baseurl}}help.html">Help</a><a class='about' href="/{{site.baseurl}}about.html">About</a>
      <div class="fr">
        <a href="http://github.com/prose" target="_blank">Source Code</a> 
        <a class="twitter" href="http://twitter.com/_inprose" target="_blank">Twitter</a>
      </div>
   </div>
  </div>
</body>
</html>
