---
layout: static
---

<div class='inner deep prose'>
  <h1 class='title'>{{page.title}}</h1>
  {{content}}
</div>

<div class='inner deep bright'>
  Posted by <a href='http://twitter.com/{{page.author_twitter}}' target='_blank'>{{page.author}}</a> on {{ page.date | date: '%B %d, %Y' }}
</div>

<div class='improve-article bright'>
  <div class='inner deep clearfix centered'>
    <p>This article has been written and published using <a href='http://prose.io' target='_blank'>Prose</a>. Please help us improve this documentation by contributing to the text.</p>
    <p><a class='round button' href='{{page.prose_link}}'>Edit in Prose</a></p>
  </div>
</div>
