---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Prose &middot; A Content Editor for GitHub</title>
  <link rel='shortcut icon' href='/{{site.baseurl}}images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='/{{site.baseurl}}fonts/open-sans.css'>
  <link rel='stylesheet' href='/{{site.baseurl}}app.css'>
  {% include templates.html %}
  <script src='/{{site.baseurl}}boot.js'></script>
  <script>
    (function(config, models, views, routers, utils, templates) {
      $(function() {
        if (authenticate()) {
          loadApplication(function(err, data) {

            // Start the engines
            window.app.instance = new views.Application({ el: '#container', model: data }).render();
            if (err) return app.instance.notify('error', 'Error while loading data from Github. This might be a temporary issue. Please try again later.');

          });
        }
      });
    }).apply(this, window.args);
  </script>
</head>
<body>
  <div id='container'>
    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      <a class='help' href="/{{site.baseurl}}help.html">Help</a><a class='about' href="/{{site.baseurl}}about.html">About</a>
      <div class="fr brand">
        <a href="/{{site.baseurl}}#prose/prose/blob/gh-pages/README.md">Prose 0.4.0</a>
      </div>
   </div>
  </div>
</body>
</html>
